<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">Danh sách cấu hình cảnh báo</h3>
        </div>        
    </div>
    <div class="card-body">
        <!-- begin:Table -->
        <div class="table-responsive angular-bootstrap-table">
            <table class="table table-head-custom table-vertical-center overflow-hidden">
                <thead>                    
                    <th style="width: 40px;">
                        STT
                    </th>
                    <th style="width: 60px;">
                        ID
                    </th>
                    <th style="width: 200px;text-align: center;">
                        Cảnh báo ID
                    </th>
                    <th>
                        dữ liệu cũ
                    </th>
                    <th>
                        dữ liệu mới
                    </th>
                    <th>
                        người tương tác
                    </th>
                    <th>
                        thời gian
                    </th>
                    <th>
                        trạng thái thay đổi
                    </th>
                                  
                </thead>
                <tbody>
                    <tr *ngFor="let item of service.items$ | async; let i=index;">
                        <td>{{ i + paginator.pageSize * (paginator.page - 1) + 1 }}</td>
                        <td>{{item.ID}}</td>
                        <td>{{item.CANHBAO_ID}}</td>
                        <td>{{item.DATA_CU}}</td>                    
                        <td>{{item.DATA_MOI}}</td>                    
                        <td>{{item.NGUOITHUCHIEN}}</td>                    
                        <td>{{item.THOIGIAN}}</td>                    
                        <td>{{item.TRANGTHAI_CANHBAO}}</td>                    
                                          
                                                                      
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator"
            [isLoading]="isLoading" (paginate)="paginate($event)"></app-paginator> -->
    </div>
</div>
