<div class="modal-content">
    <div class="modal-header">
        <div class="modal-title h4" id="example-modal-sizes-title-lg">
            Thêm khảo sát
        </div>
    </div>
    <div class="overlay overlay-block cursor-default modal-body" style="min-height: 404px;">   
        <ng-container>
            <form action="#" class="form form-label-right" [formGroup]="formGroup">                
                <input type="hidden" name="ID" value="{{idKhaoSat}}">
                <div class="form-group row">
                    <div class="col-lg-12">
                        <label>Mã Yêu Cầu</label>
                        <input type="text"  disabled="disabled" class="form-control" name="MA_YCAU" formControlName="MA_YCAU" />
                    </div> 
       
                </div> 
                <div class="form-group row" *ngIf="!isPhanHoiDv">
                    <div class="col-lg-12">
                        <label >Tên khách hàng</label>
                        <input type="text" disabled="disabled"  class="form-control" name="TEN_KH" formControlName="TEN_KH" />               
                    </div>
                    <div class="col-lg-12">
                        <label >Địa chỉ </label>
                        <input type="text" disabled="disabled"  class="form-control" name="DIA_CHI" formControlName="DIA_CHI" />               
                    </div>
                    <div class="col-lg-4">
                        <label >Số điện thoại </label>
                        <input type="text" disabled="disabled"  class="form-control" name="SDT" formControlName="SDT" />               
                    </div>
                    
                    <div class="col-lg-12">
                        <label >Thời gian chênh lệch chương trình - thực tế</label>
                    </div>
                    <div class="col-lg-4">
                        <label >Thời gian trên chương trình</label>
                        <input type="text" disabled="disabled"  class="form-control" name="DGCD_TH_CHUONGTRINH" formControlName="DGCD_TH_CHUONGTRINH" />               
                    </div>
                    <div class="col-lg-4">
                        <label >Thời gian thực hiện </label>
                        <input type="text" disabled="disabled"  class="form-control" name="DGCD_TH_DANGKY" formControlName="DGCD_TH_DANGKY" />               
                    </div>
                    <div class="col-lg-4">
                        <label >Khách hàng phản hồi thời gian cấp điện</label>
                        <input type="text" class="form-control" name="DGCD_KH_PHANHOI" formControlName="DGCD_KH_PHANHOI" />               
                    </div>
                </div>
                <div class="form-group row" *ngIf="!isPhanHoiDv">
                    <div class="col-lg-12">
                        <label >Đánh giá công tác tiếp nhận yêu cầu cấp điện</label>
                    </div>
                    <div class="col-lg-4">
                        <label >Đăng ký dễ dàng, thuận tiện</label>
                        <div class="radio-inline">
                            <label class="radio radio-rounded">
                                <input type="radio" name="DGYC_DK_DEDANG" formControlName="DGYC_DK_DEDANG" value="1" [checked]=true>
                                <span></span>Có </label>
                            <label class="radio radio-rounded">
                                <input type="radio" name="DGYC_DK_DEDANG" formControlName="DGYC_DK_DEDANG" value="0">
                                <span></span>Không</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label >Xác nhận nhanh chóng kịp thời</label>
                        <div class="radio-inline">
                            <label class="radio radio-rounded">
                                <input type="radio" name="DGYC_XACNHAN_NCHONG_KTHOI" formControlName="DGYC_XACNHAN_NCHONG_KTHOI" value="1">
                                <span></span>Có </label>
                            <label class="radio radio-rounded">
                                <input type="radio" name="DGYC_XACNHAN_NCHONG_KTHOI" formControlName="DGYC_XACNHAN_NCHONG_KTHOI" value="0">
                                <span></span>Không</label>
                        </div>              
                    </div>
                    <div class="col-lg-4">
                        <label >Nhân viên chuyên nghiệp, chu đáo</label>
                        <div class="radio-inline">
                            <label class="radio radio-rounded">
                                <input type="radio" name="DGYC_THAIDO_CNGHIEP" formControlName="DGYC_THAIDO_CNGHIEP" value="1">
                                <span></span>Có </label>
                            <label class="radio radio-rounded">
                                <input type="radio" name="DGYC_THAIDO_CNGHIEP" formControlName="DGYC_THAIDO_CNGHIEP" value="0">
                                <span></span>Không</label>
                        </div>                 
                    </div>
                </div>  
                <div class="form-group row" *ngIf="!isPhanHoiDv">
                    <div class="col-lg-12">
                        <label >Đánh giá công tác khảo sát và thỏa thuận đấu nối</label>
                    </div>
                    <div class="col-lg-4">
                        <label >Tiến độ khảo sát</label>
                        <div class="radio-inline">
                            <label class="radio radio-rounded">
                                <input type="radio" name="DGKS_TDO_KSAT" formControlName="DGKS_TDO_KSAT" value="1">
                                <span></span>Hài lòng </label>
                            <label class="radio radio-rounded">
                                <input type="radio" name="DGKS_TDO_KSAT" formControlName="DGKS_TDO_KSAT" value="0">
                                <span></span>Không</label>
                        </div>              
                    </div>
                    <div class="col-lg-4">
                        <label >Minh bạch</label>
                        <div class="radio-inline">
                            <label class="radio radio-rounded">
                                <input type="radio" name="DGKS_MINH_BACH" formControlName="DGKS_MINH_BACH" value="1">
                                <span></span>Có </label>
                            <label class="radio radio-rounded">
                                <input type="radio" name="DGKS_MINH_BACH" formControlName="DGKS_MINH_BACH" value="0">
                                <span></span>Không</label>
                        </div>                
                    </div>
                    <div class="col-lg-4">
                        <label >Chu đáo</label>
                        <div class="radio-inline">
                            <label class="radio radio-rounded">
                                <input type="radio" name="DGKS_CHU_DAO" formControlName="DGKS_CHU_DAO" value="1">
                                <span></span>Có </label>
                            <label class="radio radio-rounded">
                                <input type="radio" name="DGKS_CHU_DAO" formControlName="DGKS_CHU_DAO" value="0">
                                <span></span>Không</label>
                        </div>               
                    </div>
                </div> 
                <div class="form-group row" *ngIf="!isPhanHoiDv">
                    <div class="col-lg-12">
                        <label >Đánh giá công tác nghiệm thu, lắp đặt hệ thống đo đếm và ký hợp đồng MBĐ</label>
                    </div>
                    <div class="col-lg-4">
                        <label >Thuận tiện</label>
                        <div class="radio-inline">
                            <label class="radio radio-rounded">
                                <input type="radio" name="DGNT_THUAN_TIEN" formControlName="DGNT_THUAN_TIEN" value="1">
                                <span></span>Có </label>
                            <label class="radio radio-rounded">
                                <input type="radio" name="DGNT_THUAN_TIEN" formControlName="DGNT_THUAN_TIEN" value="0">
                                <span></span>Không</label>
                        </div>               
                    </div>
                    <div class="col-lg-4">
                        <label >Minh bạch</label>
                        <div class="radio-inline">
                            <label class="radio radio-rounded">
                                <input type="radio" name="DGNT_MINH_BACH" formControlName="DGNT_MINH_BACH" value="1">
                                <span></span>Có </label>
                            <label class="radio radio-rounded">
                                <input type="radio" name="DGNT_MINH_BACH" formControlName="DGNT_MINH_BACH" value="0">
                                <span></span>Không</label>
                        </div>               
                    </div>
                    <div class="col-lg-4">
                        <label >Chu đáo</label>
                        <div class="radio-inline">
                            <label class="radio radio-rounded">
                                <input type="radio" name="DGNT_CHU_DAO" formControlName="DGNT_CHU_DAO" value="1">
                                <span></span>Có </label>
                            <label class="radio radio-rounded">
                                <input type="radio" name="DGNT_CHU_DAO" formControlName="DGNT_CHU_DAO" value="0">
                                <span></span>Không</label>
                        </div>                 
                    </div>
                </div>
                <div class="form-group row" *ngIf="!isPhanHoiDv">
                    <div class="col-lg-12">
                        <label >Khảo sát về chi phí khách hàng phải trả cho ngành điện </label>
                    </div>
                    <div class="radio-inline">
                        <label class="radio radio-rounded">
                            <input type="radio" name="KSAT_CHI_PHI" formControlName="KSAT_CHI_PHI" value="1">
                            <span></span>Có </label>
                        <label class="radio radio-rounded">
                            <input type="radio" name="KSAT_CHI_PHI" formControlName="KSAT_CHI_PHI" value="0">
                            <span></span>Không</label>
                    </div> 
                </div>   
                <div class="form-group row" *ngIf="!isPhanHoiDv">
                    <div class="col-lg-12">
                        <label >Đánh giá mức độ hài lòng đối với công tác cấp điện trung áp ngành điện</label>
                    </div>
                    <div class="radio-inline">
                        <label class="radio radio-rounded">
                            <input type="radio" name="DGHL_CAPDIEN" formControlName="DGHL_CAPDIEN" value="5">
                            <span></span>Rất hài lòng </label>
                        <label class="radio radio-rounded">
                            <input type="radio" name="DGHL_CAPDIEN" formControlName="DGHL_CAPDIEN" value="4">
                            <span></span>Hài lòng</label>
                        <label class="radio radio-rounded">
                            <input type="radio" name="DGHL_CAPDIEN" formControlName="DGHL_CAPDIEN" value="3">
                            <span></span>Bình thường</label>
                        <label class="radio radio-rounded">
                            <input type="radio" name="DGHL_CAPDIEN" formControlName="DGHL_CAPDIEN" value="2">
                            <span></span>Không hài lòng</label>
                        <label class="radio radio-rounded">
                            <input type="radio" name="DGHL_CAPDIEN" formControlName="DGHL_CAPDIEN" value="1">
                            <span></span>Rất không hài lòng</label>
                    </div> 
                </div>   
                <!-- <div class="form-group row" *ngIf="!isPhanHoiDv">
                    <div class="col-lg-12">
                        <label >Hạng mục khảo sát</label>
                    </div>
                    <div class="radio-inline">
                        <label class="radio radio-rounded">
                            <input type="radio" name="HANGMUC_KHAOSAT" formControlName="HANGMUC_KHAOSAT" value="0">
                            <span></span>1: Đánh giá về thời gian cấp điện</label>
                        <label class="radio radio-rounded">
                            <input type="radio" name="HANGMUC_KHAOSAT" formControlName="HANGMUC_KHAOSAT" value="1">
                            <span></span>2: Đánh giá công tác tiếp nhận yêu cầu cấp điện</label>
                        <label class="radio radio-rounded">
                            <input type="radio" name="HANGMUC_KHAOSAT" formControlName="HANGMUC_KHAOSAT" value="2">
                            <span></span>3: Đánh giá công tác khảo sát và thỏa thuận đấu nối</label>
                        <label class="radio radio-rounded">
                            <input type="radio" name="HANGMUC_KHAOSAT" formControlName="HANGMUC_KHAOSAT" value="3">
                            <span></span>4: Đánh giá công tác nghiệm thu, lắp đặt hệ thống đo đếm và ký hợp đồng MBĐ</label>
                        <label class="radio radio-rounded">
                            <input type="radio" name="HANGMUC_KHAOSAT" formControlName="HANGMUC_KHAOSAT" value="4">
                            <span></span>5: Khảo sát về chi phí khách hàng phải trả cho ngành điện </label>
                        <label class="radio radio-rounded">
                            <input type="radio" name="HANGMUC_KHAOSAT" formControlName="HANGMUC_KHAOSAT" value="5">
                            <span></span>6: Đánh giá mức độ hài lòng đối với công tác cấp điện trung áp ngành điện</label>
                    </div> 
                </div>  -->
                <div class="form-group row" *ngIf="!isPhanHoiDv">
                    <div class="col-lg-12">
                        <label >Trạng thái cuộc gọi<span style="color:red">*</span></label>
                    </div>
                    <select class="form-control" name="TRANGTHAI_GOI" formControlName="TRANGTHAI_GOI">
                        <option value="0">Đã gọi thành công</option>
                        <option value="1">Chưa gọi được</option>
                        <option value="2">Dừng ngang cuộc gọi</option>
                    </select> 
                </div>    
                <div class="form-group row" *ngIf="!isPhanHoiDv">
                    <div class="col-lg-12">
                        <label>Ý kiến khách hàng</label>
                        <input type="text" class="form-control" name="Y_KIEN_KH" formControlName="Y_KIEN_KH" />                   
                    </div>
                </div>    
                <div class="form-group row" *ngIf="!isPhanHoiDv">
                    <div class="col-lg-12">
                        <label>Nội dung ghi nhận xác minh lại thông tin khách hàng</label>
                        <input type="text" class="form-control" name="NOIDUNG" formControlName="NOIDUNG" />                   
                    </div>
                </div> 
                <div class="form-group row" *ngIf="isPhanHoiDv">
                    <div class="col-lg-12">
                        <label>Phản hồi đơn vị</label>
                        <input type="text" class="form-control" name="PHAN_HOI" formControlName="PHAN_HOI" />                   
                    </div>
                </div>  
                <div class="form-group row" *ngIf="!isPhanHoiDv">
                    <div class="col-lg-12">
                        <label>Ghi chú</label>
                        <input type="text" class="form-control" name="GHI_CHU" formControlName="GHI_CHU" />                   
                    </div>
                </div> 

                <div class="form-group row" *ngIf="!isPhanHoiDv">
                    <div class="col-lg-12">
                        <label>Chọn file</label>
                        <input placeholder="Chọn file" class="form-control" formControlName="FILE_DINHKEM" type="file"
                            name="FILE_DINHKEM" accept=".pdf,.doc,.xlsx,.xls" (change)="upload($event)" />

                    </div>
                </div>           

            </form>
        </ng-container>
    </div>
    <div class="modal-footer" *ngIf="!isPhanHoiDv">
        <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">Thoát</button>
        <ng-container>
            <button *ngIf="( allowGSCD | async ) "  type="submit" [disabled]="formGroup.invalid" class="btn btn-primary btn-elevate" (click)="save()">Lưu thông tin</button>
        </ng-container>
    </div>

    <div class="modal-footer" *ngIf="isPhanHoiDv">
        <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">Thoát</button>
        <ng-container>
            <button *ngIf="( allowGSCD | async ) "  type="submit" [disabled]="formGroup.invalid" class="btn btn-primary btn-elevate" (click)="save1()">Lưu thông tin</button>
        </ng-container>
    </div>
</div>