<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">Chi tiết khảo sát khách hàng</h3>
        </div>
    </div>
    <div class="card-body">
        <!-- begin: Filtration form -->
        <div class="form form-label-right">
            <div class="form-group row">
                <div class="col-lg-2" [formGroup]="filterGroup">
                    <label>Đơn vị quản lý</label>
                    <select class="form-control" name="maDViQly" formControlName="maDViQly">
                        <option value="-1">--Đơn vị quản lý--</option>
                        <option [value]="item.orgCode" *ngFor="let item of organizations">
                            {{item.orgCode}} - {{item.orgName}}
                        </option>
                    </select>
                </div>
                <!-- <div class="col-lg-2" [formGroup]="filterGroup">
                    <label>Từ khoá</label>
                    <input type="text" class="form-control" name="searchText" placeholder="Từ khoá" value=""
                        formControlName="keyword" />
                </div> -->
                <div class="col-lg-2" [formGroup]="filterGroup">
                    <label>Loại cảnh báo</label>
                    <select class="form-control" name="HangMucKhaoSat" placeholder="Mã loại cảnh báo" formControlName="HangMucKhaoSat">
                        <!-- <option selected="selected" value="-1">-- Tất cả --</option>
                        <option value="1">1. thời gian tiếp nhận yêu cầu cấp điện lập thỏa thuận đấu nối</option>
                        <option value="2">2.Thời gian thực hiện lập thỏa thuận đấu nối</option>
                        <option value="3">3.Thời gian tiếp nhận yêu cầu kiểm tra đóng điện</option>
                        <option value="4">4.Thời gian dự thảo và ký hợp đồng mua bán điện</option>
                        <option value="5">5. Thời gian thực hiện kiểm tra điều kiện kỹ thuật điểm đấu nối</option>
                        <option value="6">6.Giám sát thời gian nghiệm thu yêu cầu cấp điện</option>
                        <option value="7">7.hồ sơ sắp hết hạn hiệu lực thỏa thuận đấu nối</option>
                        <option value="8">8.Thời gian thực hiện cấp điện mới trung áp</option>
                        <option value="9">9. từ chối tiếp nhận yêu cầu cấp điện/thỏa thuận đấu nối</option>
                        <option value="10">10.trờ ngại khảo sát lập thỏa thuận đấu nối</option>
                        <option value="11">11.hủy yêu cầu lập thỏa thuận đấu nối</option>
                        <option value="12">12.từ chối tiếp nhận yêu cầu kiểm tra điều kiện đóng điện điểm đấu nối</option>
                        <option value="13">13. khách hàng từ chối ký thỏa thuận đấu nối</option>
                        <option value="14">14. trở ngại khi kiểm tra điều kiện đóng điện điểm đấu nối.</option>
                        <option value="15">15.trở ngại khi thi công treo tháo</option>
                        <option value="16">16.khách hàng từ chối ký hợp đồng mua bán điện</option> -->
                        <option value="1">1: Đánh giá về thời gian cấp điện</option>
                        <option value="2">2: Đánh giá công tác tiếp nhận yêu cầu cấp điện</option>
                        <option value="3">3: Đánh giá công tác khảo sát và thỏa thuận đấu nối</option>
                        <option value="4">4: Đánh giá công tác nghiệm thu, lắp đặt hệ thống đo đếm và ký hợp đồng MBĐ</option>
                        <option value="5">5: Khảo sát về chi phí khách hàng phải trả cho ngành điện </option>
                        <option value="6">6: Đánh giá mức độ hài lòng đối với công tác cấp điện trung áp ngành điện</option>
                    </select>
                </div>
                <div class="col-lg-2" [formGroup]="filterGroup">
                    <label>Từ ngày</label>
                    <div class="input-group input-group-solid">
                        <div class="input-group-append" (click)="fromdate.toggle()">
                            <span class="input-group-text">
                                <i class="text-dark-50 flaticon-calendar"></i>
                            </span>
                        </div>
                        <input type="text" name="fromdate" class="form-control form-control-solid" autocomplete="off"
                            placeholder="Từ ngày" ngbDatepicker #fromdate="ngbDatepicker" formControlName="fromdate" />
                    </div>
                </div>

                <div class="col-lg-2" [formGroup]="filterGroup">
                    <label>Đến ngày</label>
                    <div class="input-group input-group-solid">
                        <div class="input-group-append" (click)="todate.toggle()">
                            <span class="input-group-text">
                                <i class="text-dark-50 flaticon-calendar"></i>
                            </span>
                        </div>
                        <input type="text" name="todate" class="form-control form-control-solid" autocomplete="off"
                            placeholder="Đến ngày" ngbDatepicker #todate="ngbDatepicker" formControlName="todate" />
                    </div>
                </div>


                <div class="col-lg-2">
                    <button type="button" class="btn btn-primary mr-6" style="height: 60%;bottom: 0;position: absolute;"
                        (click)="filter()"><i class="fa fa-search"></i>
                        Tìm kiếm
                    </button>
                    <button type="button" class="btn btn-success mr-6" style="height: 60%;bottom: 0;position: absolute;margin-left:130px;"
                        (click)="exportExcel()"><i class="fa fa-download"></i>
                        Xuất excel
                    </button>
                </div> 

                <div class="col-lg-2" [formGroup]="filterGroup" style="display: none;">
                    <label>Đánh giá thời gian cấp điện</label>
                    <input type="text" class="form-control" name="DanhGiaThoiGianCapDien" placeholder="Từ khoá" value=""
                        formControlName="DanhGiaThoiGianCapDien" />
                </div>
                <div class="col-lg-2" [formGroup]="filterGroup" style="display: none;">
                    <label>Đánh giá công tác tiếp nhận yêu cầu cấp điện</label>
                    <select class="form-control" name="DanhGiaYCTN" placeholder="Đánh giá công tác tiếp nhận yêu cầu cấp điện" formControlName="DanhGiaYCTN">
                        <option selected="selected" value="-1">-- Tất cả --</option>
                        <option value="1">1. Đăng ký dễ dàng, thuận tiện</option>
                        <option value="2">2.Xác nhận yêu cầu nhanh chóng kịp thời</option>
                        <option value="3">3.Thái độ của nhân viên chuyên nghiệp, rõ ràng, chu đáo</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-2" [formGroup]="filterGroup" style="display: none;">
                    <label>Đánh giá công tác khảo sát và thỏa thuận đấu nối</label>
                    <select class="form-control" name="DanhGiaTTDN" placeholder="Đánh giá công tác khảo sát và thỏa thuận đấu nối" formControlName="DanhGiaTTDN">
                        <option selected="selected" value="-1">-- Tất cả --</option>
                        <option value="1">1. Tiến độ khảo sát</option>
                        <option value="2">2.Minh bạch</option>
                        <option value="3">3.Chu đáo</option>
                    </select>
                </div>
                <div class="col-lg-2" [formGroup]="filterGroup" style="display: none;">
                    <label>Đánh giá công tác nghiệm thu, lắp đặt hệ thống đo đếm và ký hợp đồng MBĐ</label>
                    <select class="form-control" name="DanhGiaNT" placeholder="Đánh giá công tác nghiệm thu, lắp đặt hệ thống đo đếm và ký hợp đồng MBĐ" formControlName="DanhGiaNT">
                        <option selected="selected" value="-1">-- Tất cả --</option>
                        <option value="1">1.Thuận tiện</option>
                        <option value="2">2.Minh bạch</option>
                        <option value="3">3.Chu đáo</option>
                    </select>
                </div>
                <div class="col-lg-2" [formGroup]="filterGroup" style="display: none;">
                    <label>Khảo sát về chi phí khách hàng phải trả cho ngành điện</label>
                    <select class="form-control" name="ChiPhiKhachHang" placeholder="Khảo sát về chi phí khách hàng phải trả cho ngành điện" formControlName="ChiPhiKhachHang">
                        <option selected="selected" value="-1">-- Tất cả --</option>
                        <option value="1">1.Có</option>
                        <option value="2">2.Không</option>
                    </select>
                </div>
                <div class="col-lg-2" [formGroup]="filterGroup" style="display: none;">
                    <label>Đánh giá mức độ hài lòng đối với công tác cấp điện trung áp ngành điện</label>
                    <select class="form-control" name="DanhGiaHaiLong" placeholder="Đánh giá mức độ hài lòng đối với công tác cấp điện trung áp ngành điện" formControlName="DanhGiaHaiLong">
                        <option selected="selected" value="-1">-- Tất cả --</option>
                        <option value="1">1.Rất không hài lòng</option>
                        <option value="2">2.Không hài lòng</option>
                        <option value="3">3.Bình thường</option>
                        <option value="4">4.Hài lòng</option>
                        <option value="5">5.Rất hài lòng</option>
                    </select>
                </div>
                                
            
                

            </div>
        </div>
        <!-- end: Filtration form -->

        <!-- begin:Table -->
        <div class="table-responsive angular-bootstrap-table">
            <table class="table table-head-custom table-vertical-center overflow-hidden">
                <tr>
                    <th  rowspan="3">STT</th>
                    <th  rowspan="3">Mã đơn vị</th>
                    <th rowspan="3">Mã yêu cầu</th>
                    <th rowspan="3">Mã KH</th>
                    <th rowspan="6">Tên KH</th>
                    <th rowspan="6">Địa chỉ</th>
                    <th rowspan="6">Điện thoại</th>
                    <th rowspan="4">Mục đích sử dụng điện</th>
                    <th rowspan="6">Ngày tiếp nhận</th>
                    <th rowspan="3">Ngày hoàn thành</th>
                    <th rowspan="3">Số ngày của công trình</th>
                    <th rowspan="3">Số ngày của ngành điện</th>
                    <th rowspan="3">Trạng thái giải quyết</th>
                    <th rowspan="3">Tổng công suất điện</th>
                    <th colspan="4">Đánh giá về thời gian cấp điện</th>
                    <th colspan="6">Đánh giá công tác tiếp nhận yêu cầu cấp điện</th>
                    <th colspan="6">Đánh giá công tác khảo sát và thỏa thuận đấu nối</th>
                    <th colspan="6">Đánh giá công tác nghiệm thu, lắp đặt hệ thống đo đếm và ký hợp đồng MBĐ</th>
                    <th colspan="2">Khảo sát về chi phí khách hàng phải trả cho ngành điện </th>
                    <th colspan="6">Đánh giá mức độ hài lòng đối với công tác cấp điện trung áp ngành điện</th>
                    <th colspan="3">Trạng thái cuộc gọi</th>
                    <th rowspan="3">Ngày/ giờ khảo sát</th>
                    <th rowspan="3">Người khảo sát</th>
                    <th rowspan="3">Ý kiến nhận xét của KH</th>
                    <th rowspan="3">Nội dung ghi nhận và chuyển đơn vị xử lý (các ban liên quan/CTĐL)</th>
                    <th rowspan="3">Phản hồi  của đơn vị xử lý</th>
                    <th rowspan="3">Ghi chú</th>
                   
                </tr>
                <tr>
                    <th rowspan="2">Thời gian thực hiện (của ngành điện) trên chương trình</th>
                    <th rowspan="2">Thời gian thực hiện từ khi đăng ký đến khi hoàn thành</th>
                    <th rowspan="2">Khách hàng phản hồi thời gian cấp điện</th>
                    <th rowspan="2">Chênh lệch</th>
                    <th colspan="2">Đăng ký dễ dàng, thuận tiện</th>
                    <th colspan="2">Xác nhận yêu cầu nhanh chóng kịp thời</th>
                    <th colspan="2">Thái độ của nhân viên chuyên nghiệp, rõ ràng, chu đáo</th>
                    <th colspan="2">Tiến độ khảo sát</th>
                    <th colspan="2">Minh bạch</th>
                    <th colspan="2">Chu đáo</th>
                    <th colspan="2">Thuận tiện</th>
                    <th colspan="2">Minh bạch</th>
                    <th colspan="2">Chu đáo</th>
                    
                    
                   
                </tr>
                <tr>
                    <th>Có</th>
                    <th>Không</th>
                    <th>Có</th>
                    <th>Không</th>
                    <th>Có</th>
                    <th>Không</th>
                    <th>Hài lòng</th>
                    <th>Không</th>
                    <th>Có</th>
                    <th>Không</th>
                    <th>Có</th>
                    <th>Không</th>
                    <th>Có</th>
                    <th>Không</th>
                    <th>Có</th>
                    <th>Không</th>
                    <th>Có</th>
                    <th>Không</th>
                    <th>Có</th>
                    <th>Không</th>
                    
                </tr>
                <tbody>
                    <tr *ngFor="let item of this.viewItem | async; let i=index;">
                        <td>{{ i + paginator.pageSize * (paginator.page - 1) + 1 }}</td>
                        <td>{{item.MaDViQLy}}</td>
                        <td>{{item.TenKH}}</td>
                        <td>{{item.TenCT}}</td>
                        <td>{{item.DCCT}}</td>
                        <td>{{item.MaYC}}</td>
                        <td>{{item.TongCS}}</td>
                        <td>{{item.TongChieuDaiDD}}</td>
                        <td>{{item.HangMucQuaHan}}</td>
                        <td>{{item.SoNgayQuaHan}}</td>
                   
                    </tr>

                </tbody>
            </table>
        </div>
        <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator"
            [isLoading]="isLoading" (paginate)="paginate($event)"></app-paginator>
    </div>
</div>
