<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">Chi tiết khảo sát khách hàng</h3>
        </div>
    </div>
    <div class="card-body">
        <!-- begin: Filtration form -->
        <div class="form form-label-right">
            <div class="form-group row">
                <div class="col-lg-2" [formGroup]="filterGroup">
                    <label>Đơn vị quản lý</label>
                    <select class="form-control" name="maDViQly" formControlName="maDViQly">
                        <option value="-1">--Đơn vị quản lý--</option>
                        <option [value]="item.orgCode" *ngFor="let item of organizations">
                            {{item.orgCode}} - {{item.orgName}}
                        </option>
                    </select>
                </div>
                <!-- <div class="col-lg-2" [formGroup]="filterGroup">
                    <label>Từ khoá</label>
                    <input type="text" class="form-control" name="searchText" placeholder="Từ khoá" value=""
                        formControlName="keyword" />
                </div> -->
                <div class="col-lg-2" [formGroup]="filterGroup">
                    <label>Loại cảnh báo</label>
                    <select class="form-control" name="HangMucKhaoSat" placeholder="Mã loại cảnh báo" formControlName="HangMucKhaoSat">
                        <option selected="selected" value="-1">-- Tất cả --</option> 
                        <option value="1">1: Đánh giá về thời gian cấp điện</option>
                        <option value="2">2: Đánh giá công tác tiếp nhận yêu cầu cấp điện</option>
                        <option value="3">3: Đánh giá công tác khảo sát và thỏa thuận đấu nối</option>
                        <option value="4">4: Đánh giá công tác nghiệm thu, lắp đặt hệ thống đo đếm và ký hợp đồng MBĐ</option>
                        <option value="5">5: Khảo sát về chi phí khách hàng phải trả cho ngành điện </option>
                        <option value="6">6: Đánh giá mức độ hài lòng đối với công tác cấp điện trung áp ngành điện</option>
                    </select>
                </div>
                <div class="col-lg-2" [formGroup]="filterGroup">
                    <label>Từ ngày</label>
                    <div class="input-group input-group-solid">
                        <div class="input-group-append" (click)="fromdate.toggle()">
                            <span class="input-group-text">
                                <i class="text-dark-50 flaticon-calendar"></i>
                            </span>
                        </div>
                        <input type="text" name="fromdate" class="form-control form-control-solid" autocomplete="off"
                            placeholder="Từ ngày" ngbDatepicker #fromdate="ngbDatepicker" formControlName="fromdate" />
                    </div>
                </div>

                <div class="col-lg-2" [formGroup]="filterGroup">
                    <label>Đến ngày</label>
                    <div class="input-group input-group-solid">
                        <div class="input-group-append" (click)="todate.toggle()">
                            <span class="input-group-text">
                                <i class="text-dark-50 flaticon-calendar"></i>
                            </span>
                        </div>
                        <input type="text" name="todate" class="form-control form-control-solid" autocomplete="off"
                            placeholder="Đến ngày" ngbDatepicker #todate="ngbDatepicker" formControlName="todate" />
                    </div>
                </div>


                <div class="col-lg-2">
                    <button type="button" class="btn btn-primary mr-6" style="height: 60%;bottom: 0;position: absolute;"
                        (click)="filter()"><i class="fa fa-search"></i>
                        Tìm kiếm
                    </button>
                    <button type="button" class="btn btn-success mr-6" style="height: 60%;bottom: 0;position: absolute;margin-left:130px;"
                        (click)="exportExcel()"><i class="fa fa-download"></i>
                        Xuất excel
                    </button>
                </div> 

                <div class="col-lg-2" [formGroup]="filterGroup" style="display: none;">
                    <label>Đánh giá thời gian cấp điện</label>
                    <input type="text" class="form-control" name="DanhGiaThoiGianCapDien" placeholder="Từ khoá" value=""
                        formControlName="DanhGiaThoiGianCapDien" />
                </div>
                <div class="col-lg-2" [formGroup]="filterGroup" style="display: none;">
                    <label>Đánh giá công tác tiếp nhận yêu cầu cấp điện</label>
                    <select class="form-control" name="DanhGiaYCTN" placeholder="Đánh giá công tác tiếp nhận yêu cầu cấp điện" formControlName="DanhGiaYCTN">
                        <option selected="selected" value="-1">-- Tất cả --</option>
                        <option value="1">1. Đăng ký dễ dàng, thuận tiện</option>
                        <option value="2">2.Xác nhận yêu cầu nhanh chóng kịp thời</option>
                        <option value="3">3.Thái độ của nhân viên chuyên nghiệp, rõ ràng, chu đáo</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-2" [formGroup]="filterGroup" style="display: none;">
                    <label>Đánh giá công tác khảo sát và thỏa thuận đấu nối</label>
                    <select class="form-control" name="DanhGiaTTDN" placeholder="Đánh giá công tác khảo sát và thỏa thuận đấu nối" formControlName="DanhGiaTTDN">
                        <option selected="selected" value="-1">-- Tất cả --</option>
                        <option value="1">1. Tiến độ khảo sát</option>
                        <option value="2">2.Minh bạch</option>
                        <option value="3">3.Chu đáo</option>
                    </select>
                </div>
                <div class="col-lg-2" [formGroup]="filterGroup" style="display: none;">
                    <label>Đánh giá công tác nghiệm thu, lắp đặt hệ thống đo đếm và ký hợp đồng MBĐ</label>
                    <select class="form-control" name="DanhGiaNT" placeholder="Đánh giá công tác nghiệm thu, lắp đặt hệ thống đo đếm và ký hợp đồng MBĐ" formControlName="DanhGiaNT">
                        <option selected="selected" value="-1">-- Tất cả --</option>
                        <option value="1">1.Thuận tiện</option>
                        <option value="2">2.Minh bạch</option>
                        <option value="3">3.Chu đáo</option>
                    </select>
                </div>
                <div class="col-lg-2" [formGroup]="filterGroup" style="display: none;">
                    <label>Khảo sát về chi phí khách hàng phải trả cho ngành điện</label>
                    <select class="form-control" name="ChiPhiKhachHang" placeholder="Khảo sát về chi phí khách hàng phải trả cho ngành điện" formControlName="ChiPhiKhachHang">
                        <option selected="selected" value="-1">-- Tất cả --</option>
                        <option value="1">1.Có</option>
                        <option value="2">2.Không</option>
                    </select>
                </div>
                <div class="col-lg-2" [formGroup]="filterGroup" style="display: none;">
                    <label>Đánh giá mức độ hài lòng đối với công tác cấp điện trung áp ngành điện</label>
                    <select class="form-control" name="DanhGiaHaiLong" placeholder="Đánh giá mức độ hài lòng đối với công tác cấp điện trung áp ngành điện" formControlName="DanhGiaHaiLong">
                        <option selected="selected" value="-1">-- Tất cả --</option>
                        <option value="1">1.Rất không hài lòng</option>
                        <option value="2">2.Không hài lòng</option>
                        <option value="3">3.Bình thường</option>
                        <option value="4">4.Hài lòng</option>
                        <option value="5">5.Rất hài lòng</option>
                    </select>
                </div>
                                
            
                

            </div>
        </div>
        <!-- end: Filtration form -->

        <!-- begin:Table -->
        <div class="table-responsive angular-bootstrap-table">
            <table class="table table-head-custom table-vertical-center overflow-hidden">
                <tr>
                    <th  rowspan="3">STT</th>
                    <th  rowspan="3">Mã đơn vị</th>
                    <th rowspan="3">Mã yêu cầu</th>
                    <th rowspan="3">Mã KH</th>
                    <th rowspan="6">Tên KH</th>
                    <th rowspan="6">Địa chỉ</th>
                    <th rowspan="6">Điện thoại</th>
                    <th rowspan="4">Mục đích sử dụng điện</th>
                    <th rowspan="6">Ngày tiếp nhận</th>
                    <th rowspan="3">Ngày hoàn thành</th>
                    <th rowspan="3">Số ngày của công trình</th>
                    <th rowspan="3">Số ngày của ngành điện</th>
                    <th rowspan="3">Trạng thái giải quyết</th>
                    <th rowspan="3">Tổng công suất điện</th>
                    <th colspan="4">Đánh giá về thời gian cấp điện</th>
                    <th colspan="6">Đánh giá công tác tiếp nhận yêu cầu cấp điện</th>
                    <th colspan="6">Đánh giá công tác khảo sát và thỏa thuận đấu nối</th>
                    <th colspan="6">Đánh giá công tác nghiệm thu, lắp đặt hệ thống đo đếm và ký hợp đồng MBĐ</th>
                    <th colspan="2">Khảo sát về chi phí khách hàng phải trả cho ngành điện </th>
                    <th colspan="5">Đánh giá mức độ hài lòng đối với công tác cấp điện trung áp ngành điện</th>
                    <th colspan="3">Trạng thái cuộc gọi</th>
                    <th rowspan="3">Ngày/ giờ khảo sát</th>
                    <th rowspan="3">Người khảo sát</th>
                    <th rowspan="3">Ý kiến nhận xét của KH</th>
                    <th rowspan="3">Nội dung ghi nhận và chuyển đơn vị xử lý (các ban liên quan/CTĐL)</th>
                    <th rowspan="3">Phản hồi  của đơn vị xử lý</th>
                    <th rowspan="3">Ghi chú</th>
                   
                </tr>
                <tr>
                    <th rowspan="2">Thời gian thực hiện (của ngành điện) trên chương trình</th>
                    <th rowspan="2">Thời gian thực hiện từ khi đăng ký đến khi hoàn thành</th>
                    <th rowspan="2">Khách hàng phản hồi thời gian cấp điện</th>
                    <th rowspan="2">Chênh lệch</th>
                    <th colspan="2">Đăng ký dễ dàng, thuận tiện</th>
                    <th colspan="2">Xác nhận yêu cầu nhanh chóng kịp thời</th>
                    <th colspan="2">Thái độ của nhân viên chuyên nghiệp, rõ ràng, chu đáo</th>
                    <th colspan="2">Tiến độ khảo sát</th>
                    <th colspan="2">Minh bạch</th>
                    <th colspan="2">Chu đáo</th>
                    <th colspan="2">Thuận tiện</th>
                    <th colspan="2">Minh bạch</th>
                    <th colspan="2">Chu đáo</th>
                    <th colspan="2"> </th>
                    <th rowspan="2">Rất không hài lòng</th>
                    <th rowspan="2">Không hài lòng</th>
                    <th rowspan="2">Bình thường</th>
                    <th rowspan="2">Hài lòng</th>
                    <th rowspan="2">Rất hài lòng</th>
                    <th rowspan="2">Đã gọi thành công</th>
                    <th rowspan="2">Chưa gọi được</th>
                    <th rowspan="2">Dừng ngang cuộc gọi</th>
                   
                </tr>
                <tr>
                    <th>Có</th>
                    <th>Không</th>
                    <th>Có</th>
                    <th>Không</th>
                    <th>Có</th>
                    <th>Không</th>
                    <th>Hài lòng</th>
                    <th>Không</th>
                    <th>Có</th>
                    <th>Không</th>
                    <th>Có</th>
                    <th>Không</th>
                    <th>Có</th>
                    <th>Không</th>
                    <th>Có</th>
                    <th>Không</th>
                    <th>Có</th>
                    <th>Không</th>
                    <th>Có</th>
                    <th>Không</th>
                    
                </tr>
                <tbody>
                    <tr *ngFor="let item of this.viewItem | async; let i=index;">
                        <td>{{ i + paginator.pageSize * (paginator.page - 1) + 1 }}</td>
                        <td>{{item.MA_DVI}}</td>
                        <td>{{item.MA_YCAU}}</td>
                        <td>{{item.MA_KH}}</td>
                        <td>{{item.TEN_KH}}</td>
                        <td>{{item.DIA_CHI}}</td>
                        <td>{{item.DIEN_THOAI}}</td>
                        <td>{{item.MUCDICH_SD_DIEN}}</td>
                        <td>{{item.NGAY_TIEPNHAN}}</td>
                        <td>{{item.NGAY_HOANTHANH}}</td>
                        <td>{{item.SO_NGAY_CT}}</td>
                        <td>{{item.SO_NGAY_TH_ND}}</td>
                        <td>{{item.TRANGTHAI_GQ}}</td>
                        <td>{{item.TONG_CONGSUAT_CD}}</td>
                        <td>{{item.DGCD_TH_CHUONGTRINH}}</td>
                        <td>{{item.DGCD_TH_DANGKY}}</td>
                        <td>{{item.DGCD_KH_PHANHOI}}</td>
                        <td>{{item.CHENH_LECH}}</td>
                        <td>{{item.DGHL_CAPDIEN}}</td>
                        <td>{{item.DGKS_CHU_DAO}}</td>
                        <td>{{item.DGKS_MINH_BACH}}</td>
                        <td>{{item.DGKS_TDO_KSAT}}</td>
                        <td>{{item.DGNT_CHU_DAO}}</td>
                        <td>{{item.DGNT_MINH_BACH}}</td>
                        <td>{{item.DGNT_THUAN_TIEN}}</td>
                        <td>{{item.DGYC_DK_DEDANG}}</td>
                        <td>{{item.DGYC_THAIDO_CNGHIEP}}</td>
                        <td>{{item.DGYC_XACNHAN_NCHONG_KTHOI}}</td>
                        <td>{{item.DGYC_XACNHAN_NCHONG_KTHOI}}</td>
                        <td>{{item.DGYC_XACNHAN_NCHONG_KTHOI}}</td>
                        <td>{{item.DGYC_XACNHAN_NCHONG_KTHOI}}</td>
                        <td>{{item.DGYC_XACNHAN_NCHONG_KTHOI}}</td>
                        <td>{{item.DGYC_XACNHAN_NCHONG_KTHOI}}</td>
                        <td>{{item.DGYC_XACNHAN_NCHONG_KTHOI}}</td>
                        <td>{{item.DGYC_XACNHAN_NCHONG_KTHOI}}</td>
                        <td>{{item.DGYC_XACNHAN_NCHONG_KTHOI}}</td>
                        <td>{{item.DGYC_XACNHAN_NCHONG_KTHOI}}</td>
                        <td>{{item.DGYC_XACNHAN_NCHONG_KTHOI}}</td>
                        <td>{{item.HANGMUC_KHAOSAT}}</td>
                        <td>{{item.TRANGTHAI_GOI}}</td>
                        <td>{{item.NGAY}}</td>
                        <td>{{item.NGUOI_KSAT}}</td>
                        <td>{{item.PHAN_HOI}}</td>
                        <td>{{item.Y_KIEN_KH}}</td>
                        <td>{{item.PHAN_HOI}}</td>
                        <td>{{item.GHI_CHU}}</td>
                   
                    </tr>

                </tbody>
            </table>
        </div>
        <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator"
            [isLoading]="isLoading" (paginate)="paginate($event)"></app-paginator>
    </div>
</div>
