<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">Chi tiết giám sát cấp điện</h3>
        </div>
    </div>
    <div class="card-body">
        <!-- begin: Filtration form -->
        <div class="form form-label-right">
            <div class="form-group row">
                <div class="col-lg-2" [formGroup]="filterGroup">
                    <label>Đơn vị quản lý</label>
                    <select class="form-control" name="maDViQLy" formControlName="maDViQLy">
                        <option value="-1">--Đơn vị quản lý--</option>
                        <option [value]="item.orgCode" *ngFor="let item of organizations">
                            {{item.orgCode}} - {{item.orgName}}
                        </option>
                    </select>
                </div>
                <div class="col-lg-2" [formGroup]="filterGroup" style="display: none;">
                    <label>Từ khoá</label>
                    <input type="text" class="form-control" name="searchText" placeholder="Từ khoá" value=""
                        formControlName="keyword" />
                </div>
                <div class="col-lg-2" [formGroup]="filterGroup">
                    <label>Loại cảnh báo</label>
                    <select class="form-control" name="MaLoaiCanhBao" placeholder="Mã loại cảnh báo" formControlName="MaLoaiCanhBao">
                        <option selected="selected" value="-1">-- Tất cả --</option>
                        <option value="1">1. Giám sát thời gian tiếp nhận yêu cầu cấp điện lập thỏa thuận đấu nối của khách hàng</option>
                        <option value="2">2. Giám sát thời gian thực hiện lập thỏa thuận đấu nối</option>
                        <option value="3">3. Giám sát thời gian tiếp nhận yêu cầu kiểm tra điểm đóng điện và nghiệm thu</option>
                        <option value="4">4. Giám sát thời gian dự thảo và ký hợp đồng mua bán điện</option>
                        <option value="5">5. Giám sát thời gian thực hiện kiểm tra điều kiện kỹ thuật điểm đấu nối và nghiệm thu</option>
                        <option value="6">6. Giám sát thời gian thực hiện cấp điện mới trung áp</option>
                        <option value="7">7. Giám sát việc từ chối tiếp nhận yêu cầu cấp điện/thỏa thuận đấu nối</option>
                        <option value="8">8. Giám sát trờ ngại khảo sát lập thỏa thuận đấu nối</option>
                        <option value="9">9. Giám sát việc từ chối tiếp nhận yêu cầu lập thỏa thuận đấu nối</option>
                        <option value="10">10. Giám sát việc từ chối tiếp nhận yêu cầu kiểm tra điều kiện đóng điện điểm đấu nối và nghiệm thu</option>
                        <option value="11">11. Giám sát nguyên nhân khách hàng từ chối ký thỏa thuận đấu nối</option>
                        <option value="12">12. Giám sát trở ngại khi kiểm tra điều kiện đóng điện điểm đấu nối</option>
                        <option value="13">13. Giám sát trở ngại khi thi công treo tháo</option>
                        <option value="14">14. Giám sát nguyên nhân khách hàng từ chối ký hợp đồng mua bán điện</option>
                        <option value="15">15. Giám sát thời gian nghiệm thu yêu cầu cấp điện mới trung áp</option>
                        <option value="16">16. Cảnh báo các bộ hồ sơ sắp hết hạn hiệu lực thỏa thuận đấu nối</option>
                    </select>
                </div>


                <div class="col-lg-2" [formGroup]="filterGroup">
                    <label>Từ ngày</label>
                    <div class="input-group input-group-solid">
                        <div class="input-group-append" (click)="fromdate.toggle()">
                            <span class="input-group-text">
                                <i class="text-dark-50 flaticon-calendar"></i>
                            </span>
                        </div>
                        <input type="text" name="fromdate" class="form-control form-control-solid" autocomplete="off"
                            placeholder="Từ ngày" ngbDatepicker #fromdate="ngbDatepicker" formControlName="fromdate" />
                    </div>
                </div>

                <div class="col-lg-2" [formGroup]="filterGroup">
                    <label>Đến ngày</label>
                    <div class="input-group input-group-solid">
                        <div class="input-group-append" (click)="todate.toggle()">
                            <span class="input-group-text">
                                <i class="text-dark-50 flaticon-calendar"></i>
                            </span>
                        </div>
                        <input type="text" name="todate" class="form-control form-control-solid" autocomplete="off"
                            placeholder="Đến ngày" ngbDatepicker #todate="ngbDatepicker" formControlName="todate" />
                    </div>
                </div>

                <div class="col-lg-2">
                    <button type="button" class="btn btn-primary mr-2" style="height: 60%;bottom: 0;position: absolute;"
                        (click)="filter()"><i class="fa fa-search"></i>
                        Tìm kiếm
                    </button>
                    <button type="button" class="btn btn-success mr-2" style="height: 60%;bottom: 0;position: absolute;margin-left:130px;"
                        (click)="exportExcel()"><i class="fa fa-download"></i>
                        Xuất excel
                    </button>
                </div>                 
            </div>
        </div>
        <!-- end: Filtration form -->

        <!-- begin:Table -->
        <div class="table-responsive angular-bootstrap-table">
            <table class="table table-head-custom table-vertical-center overflow-hidden">
                <thead>
                    <th style="width: 40px;">STT</th>
                    <th>Mã đơn vị</th>
                    <th>Mã yêu cầu</th>
                    <th>Tên khách hàng/công trình</th>
                    <th>Địa chỉ</th>
                    <th>Điện thoại</th>
                    <th>Tổng công suất đăng ký (kw)</th>
                    <th>Ngày tiếp nhận yêu cầu</th>
                    <th>Hạng mục cảnh báo (Loại Cảnh Báo)</th>
                    <th>Ngưỡng cảnh báo(ND cảnh báo)</th>
                    <th>Trạng thái trên chương trình (trạng thái cảnh báo)</th>
                    <th>Ngày/ giờ giám sát (X3)</th>
                    <th>Người giám sát (X3)</th>
                    <th>Nội dung khảo sát ý kiến từ khách hàng (Phan Hoi Khach Hang)</th>
                    <!-- <th>Xử lý của X3 đối với ý kiến của khách hàng</th> -->
                    <th>Phản hồi  của đơn vị xử lý(ND Phan Hoi)</th>
                    <th>Xác minh nguyên nhân chậm giải quyết (X3)</th>
                    <!-- <th>Nội dung ghi nhận và chuyển đơn vị xử lý (X3)</th> -->
                    <th>Kết quả giám sát </th>
                    <th>Ghi chú</th>
                    
                </thead>
                <tbody>
                    <tr *ngFor="let item of this.viewItem | async; let i=index;">
                        <td>{{ i + paginator.pageSize * (paginator.page - 1) + 1 }}</td>
                        <td>{{item.MaDViQuanLy}}</td>
                        <td>{{item.MaYeuCau}}</td>
                        <td>{{item.TenKhachHang}}</td>
                        <td>{{item.DiaChi}}</td>
                        <td>{{item.SDT}}</td>
                        <td>{{item.TongCongSuatDangKy}}</td>
                        <td>{{item.NgayTiepNhan}}</td>
                        <td>{{item.HangMucCanhBao}}</td>
                        <td>{{item.NguongCanhBao}}</td>
                        <td>{{item.TrangThai}}</td>
                        <td>{{item.NgayGioGiamSat}}</td>
                        <td>{{item.NguoiGiamSat}}</td>
                        <td>{{item.NoiDungKhaoSat}}</td>
                        <!-- <td>{{item.NoiDungXuLyYKienKH}}</td> -->
                        <td>{{item.PhanHoi}}</td>
                        <td>{{item.XacMinhNguyenNhanChamGiaiQuyet}}</td>
                        <!-- <td>{{item.NDGhiNhanVaChuyenDonViXuLy}}</td> -->
                        <td>{{item.KetQua}}</td>
                        <td>{{item.GhiChu}}</td>
                   
                    </tr>

                </tbody>
            </table>
        </div>
        <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator"
            [isLoading]="isLoading" (paginate)="paginate($event)"></app-paginator>
    </div>
</div>
