<ng-container *ngIf="isLoadingForm$ | async; else showData">
    <div class="overlay-layer bg-transparent">
        <div class="spinner spinner-lg spinner-success"><span style="padding-left:35px;">Đang tải dữ liệu, vui lòng chờ</span></div>
    </div>
</ng-container>
<ng-template #showData>
    <div class="table-responsive angular-bootstrap-table">
        <table class="table table-head-custom table-vertical-center overflow-hidden">
            <thead>
                <th style="width: 40px;">
                    STT
                </th>
                <th>
                    Tên tài liệu
                </th>
                <th style="width: 120px;text-align: center;">
                    Trạng thái
                </th>
                <th style="width: 110px;text-align: center;">Thao tác</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of service.items$ | async; let i=index;">
                    <td>
                        {{i+1}}
                    </td>
                    <td>
                        {{item.TenHoSo}}
                    </td>
                    <td style="text-align: center;">
                        {{ 0 >= item.TrangThai ? "Mới tạo" : item.TrangThai === 1 ? "Khách hàng ký" : "Điện lực ký" }}
                    </td>
                    <td style="text-align: center;">
                        <button class="btn btn-icon" *ngIf="item.LoaiFile !== 'PDF' || item.LoaiFile !== 'PNG' || item.LoaiFile !== 'JPG'" (click)="view(item.ID, item.LoaiFile)"> <i class="fa fa-eye text-primary"></i></button>
                        <button class="btn btn-icon" *ngIf="item.LoaiFile !== 'PDF' && item.LoaiFile !== 'PNG' && item.LoaiFile !== 'JPG'" (click)="download(item.ID, item.LoaiFile)"> <i class="fa fa-download text-primary"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>