<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">Tổng hợp khảo sát khách hàng</h3>
        </div>
    </div>
    <div class="card-body">
        <!-- begin: Filtration form -->
        <div class="form form-label-right">
            <div class="form-group row">
                <div class="col-lg-2" [formGroup]="filterGroup">
                    <label>Đơn vị quản lý</label>
                    <select class="form-control" name="maDViQLy" formControlName="maDViQLy">
                        <option value="-1">--Đơn vị quản lý--</option>
                        <option [value]="item.orgCode" *ngFor="let item of organizations">
                            {{item.orgCode}} - {{item.orgName}}
                        </option>
                    </select>
                </div>
                <div class="col-lg-2" [formGroup]="filterGroup">
                    <label>Từ khoá</label>
                    <input type="text" class="form-control" name="searchText" placeholder="Từ khoá" value=""
                        formControlName="keyword" />
                </div>
                <!-- <div class="col-lg-2" [formGroup]="filterGroup">
                    <label>Hạng mục khảo sát</label>
                    <select class="form-control" name="HangMucKhaoSat" placeholder="Mã loại cảnh báo" formControlName="HangMucKhaoSat">
                        <option selected="selected" value="-1">-- Tất cả --</option>
                        <option value="1">1: Đánh giá về thời gian cấp điện</option>
                        <option value="2">2: Đánh giá công tác tiếp nhận yêu cầu cấp điện</option>
                        <option value="3">3: Đánh giá công tác khảo sát và thỏa thuận đấu nối</option>
                        <option value="4">4: Đánh giá công tác nghiệm thu, lắp đặt hệ thống đo đếm và ký hợp đồng MBĐ</option>
                        <option value="5">5: Khảo sát về chi phí khách hàng phải trả cho ngành điện </option>
                        <option value="6">6: Đánh giá mức độ hài lòng đối với công tác cấp điện trung áp ngành điện</option>
                    </select>
                </div> -->
                <div class="col-lg-2" [formGroup]="filterGroup">
                    <label>Từ ngày</label>
                    <div class="input-group input-group-solid">
                        <div class="input-group-append" (click)="fromdate.toggle()">
                            <span class="input-group-text">
                                <i class="text-dark-50 flaticon-calendar"></i>
                            </span>
                        </div>
                        <input type="text" name="fromdate" class="form-control form-control-solid" autocomplete="off"
                            placeholder="Từ ngày" ngbDatepicker #fromdate="ngbDatepicker" formControlName="fromdate" />
                    </div>
                </div>

                <div class="col-lg-2" [formGroup]="filterGroup">
                    <label>Đến ngày</label>
                    <div class="input-group input-group-solid">
                        <div class="input-group-append" (click)="todate.toggle()">
                            <span class="input-group-text">
                                <i class="text-dark-50 flaticon-calendar"></i>
                            </span>
                        </div>
                        <input type="text" name="todate" class="form-control form-control-solid" autocomplete="off"
                            placeholder="Đến ngày" ngbDatepicker #todate="ngbDatepicker" formControlName="todate" />
                    </div>
                </div>
                <div class="col-lg-2" [formGroup]="filterGroup" >
                    <label>Đánh giá thời gian cấp điện</label>
                    <input type="text" class="form-control" name="DanhGiaThoiGianCapDien" placeholder="Từ khoá" value=""
                        formControlName="DanhGiaThoiGianCapDien" />
                </div> 
                 <div class="col-lg-2" [formGroup]="filterGroup"  >
                    <label>Đánh giá công tác tiếp nhận yêu cầu cấp điện</label>
                    <select class="form-control" name="DanhGiaYCTN" placeholder="Đánh giá công tác tiếp nhận yêu cầu cấp điện" formControlName="DanhGiaYCTN">
                        <option selected="selected" value="-1">-- Tất cả --</option>
                        <option value="1">1. Đăng ký dễ dàng, thuận tiện</option>
                        <option value="2">2.Xác nhận yêu cầu nhanh chóng kịp thời</option>
                        <option value="3">3.Thái độ của nhân viên chuyên nghiệp, rõ ràng, chu đáo</option>
                    </select>
                </div>
                <!-- <div class="col-lg-2">
                    <button type="button" class="btn btn-primary mr-6" style="height: 60%;bottom: 0;position: absolute;"
                        (click)="filter()"><i class="fa fa-search"></i>
                        Tìm kiếm
                    </button>
                    <button type="button" class="btn btn-success mr-6" style="height: 60%;bottom: 0;position: absolute;margin-left:130px;"
                        (click)="exportExcel()"><i class="fa fa-download"></i>
                        Xuất excel
                    </button>
                </div>  -->
            </div>
           <div class="form-group row">
                <div class="col-lg-2" [formGroup]="filterGroup" >
                    <label>Đánh giá công tác khảo sát và thỏa thuận đấu nối</label>
                    <select class="form-control" name="DanhGiaTTDN" placeholder="Đánh giá công tác khảo sát và thỏa thuận đấu nối" formControlName="DanhGiaTTDN">
                        <option selected="selected" value="-1">-- Tất cả --</option>
                        <option value="1">1. Tiến độ khảo sát</option>
                        <option value="2">2.Minh bạch</option>
                        <option value="3">3.Chu đáo</option>
                    </select>
                </div>  
                <div class="col-lg-2" [formGroup]="filterGroup" >
                    <label>Đánh giá công tác nghiệm thu, lắp đặt hệ thống đo đếm và ký hợp đồng MBĐ</label>
                    <select class="form-control" name="DanhGiaNT" placeholder="Đánh giá công tác nghiệm thu, lắp đặt hệ thống đo đếm và ký hợp đồng MBĐ" formControlName="DanhGiaNT">
                        <option selected="selected" value="-1">-- Tất cả --</option>
                        <option value="1">1.Thuận tiện</option>
                        <option value="2">2.Minh bạch</option>
                        <option value="3">3.Chu đáo</option>
                    </select>
                </div> 
               <div class="col-lg-2" [formGroup]="filterGroup" >
                    <label>Khảo sát về chi phí khách hàng phải trả cho ngành điện</label>
                    <select class="form-control" name="ChiPhiKhachHang" placeholder="Khảo sát về chi phí khách hàng phải trả cho ngành điện" formControlName="ChiPhiKhachHang">
                        <option selected="selected" value="-1">-- Tất cả --</option>
                        <option value="1">1.Có</option>
                        <option value="2">2.Không</option>
                    </select>
                </div> 
                <div class="col-lg-2" [formGroup]="filterGroup" >
                    <label>Đánh giá mức độ hài lòng đối với công tác cấp điện trung áp ngành điện</label>
                    <select class="form-control" name="DanhGiaHaiLong" placeholder="Đánh giá mức độ hài lòng đối với công tác cấp điện trung áp ngành điện" formControlName="DanhGiaHaiLong">
                        <option selected="selected" value="-1">-- Tất cả --</option>
                        <option value="1">1.Rất không hài lòng</option>
                        <option value="2">2.Không hài lòng</option>
                        <option value="3">3.Bình thường</option>
                        <option value="4">4.Hài lòng</option>
                        <option value="5">5.Rất hài lòng</option>
                    </select>
                </div>
                                
            
                <div class="col-lg-2">
                    <button type="button" class="btn btn-primary mr-6" style="height: 60%;bottom: 0;position: absolute;"
                        (click)="filter()"><i class="fa fa-search"></i>
                        Tìm kiếm
                    </button>
                    <button type="button" class="btn btn-success mr-6" style="height: 60%;bottom: 0;position: absolute;margin-left:130px;"
                        (click)="exportExcel()"><i class="fa fa-download"></i>
                        Xuất excel
                    </button>
                </div> 

            </div>
        </div>
        <!-- end: Filtration form -->

        <!-- begin:Table -->
        <div class="table-responsive angular-bootstrap-table">
            <table class="table table-head-custom table-vertical-center overflow-hidden">
                <thead>
                    <tr>
                        <th  rowspan="3">
                            STT
                        </th>
                        <th  rowspan="3">
                            ĐƠN VỊ
                        </th>
                        <th rowspan="3">
                            Trạng thái giải quyết trên chương trình
                        </th>
                        <th rowspan="3">
                            Đánh giá về thời gian cấp điện
                        </th>
                        <th colspan="6">
                            Đánh giá công tác tiếp nhận yêu cầu cấp điện
                        </th>
                        <th colspan="6">
                            Đánh giá công tác khảo sát và thỏa thuận đấu nối
                        </th>
                        <th colspan="6">
                            Đánh giá công tác nghiệm thu, lắp đặt hệ thống đo đếm và ký hợp đồng MBĐ
                        </th>
                        <th colspan="2">
                            Khảo sát về chi phí khách hàng phải trả cho ngành điện 
                        </th>
                        <th colspan="5">
                            Đánh giá mức độ hài lòng đối với công tác cấp điện trung áp ngành điện
                        </th>
                        <th rowspan="3">
                            Ghi chú
                        </th>
                       
                    </tr>
                    <tr>
                        <th colspan="2">Đăng ký dễ dàng, thuận tiện</th>
                        <th colspan="2">Xác nhận yêu cầu nhanh chóng kịp thời</th>
                        <th colspan="2">Thái độ của nhân viên chuyên nghiệp, rõ ràng, chu đáo</th>
                        <th colspan="2">Tiến độ khảo sát</th>
                        <th colspan="2">Minh bạch</th>
                        <th colspan="2">Chu đáo</th>
                        <th colspan="2">Thuận tiện</th>
                        <th colspan="2">Minh bạch</th>
                        <th colspan="2">Chu đáo</th>
                        <th rowspan="2">Có</th>
                        <th rowspan="2">Không</th>
                        <th rowspan="2">Rất không hài lòng</th>
                        <th rowspan="2">Không hài lòng</th>
                        <th rowspan="2">Bình thường</th>
                        <th rowspan="2">Hài lòng</th>
                        <th rowspan="2">Rất hài lòng</th>
                        
                       
                    </tr>
                    <tr>
                        <th>Có</th>
                        <th>Không</th>
                        <th>Có</th>
                        <th>Không</th>
                        <th>Có</th>
                        <th>Không</th>
                        <th>Hài lòng</th>
                        <th>Không</th>
                        <th>Có</th>
                        <th>Không</th>
                        <th>Có</th>
                        <th>Không</th>
                        <th>Có</th>
                        <th>Không</th>
                        <th>Có</th>
                        <th>Không</th>
                        <th>Có</th>
                        <th>Không</th>
                    </tr>
                    
                </thead>
                <tbody>
                    <tr *ngFor="let item of this.viewItem | async; let i=index;">
                        <td>{{ i + paginator.pageSize * (paginator.page - 1) + 1 }}</td>
                        <td>{{item.DonVi}}</td>
                        <td></td>
                        <td>{{item.TongSoVuCoChenhLech}}</td>
                        <td>{{item.YCauCapDienDeDangThuanTienCo}}</td>
                        <td>{{item.YCauCapDienDeDangThuanTienKhong}}</td>
                        <td>{{item.YCauCapDienNhanhChongKipThoiCo}}</td>
                        <td>{{item.YCauCapDienNhanhChongKipThoiKhong}}</td>
                        <td>{{item.YCauCapDienThaiDoChuyenNghiepCo}}</td>
                        <td>{{item.YCauCapDienThaiDoChuyenNghiepKhong}}</td>
                        <td>{{item.TTDNTienDoKhaoSatCo}}</td>
                        <td>{{item.TTDNTienDoKhaoSatKhong}}</td>
                        <td>{{item.TTDNMinhBachCo}}</td>
                        <td>{{item.TTDNMinhBachKhong}}</td>
                        <td>{{item.TTDNChuDaoCo}}</td>
                        <td>{{item.TTDNChuDaoKhong}}</td>
                        <td>{{item.NghiemThuThuanTienCo}}</td>
                        <td>{{item.NghiemThuThuanTienKhong}}</td>
                        <td>{{item.NghiemThuMinhBachCo}}</td>
                        <td>{{item.NghiemThuMinhBachKhong}}</td>
                        <td>{{item.NghiemThuChuDaoCo}}</td>
                        <td>{{item.NghiemThuChuDaoKhong}}</td>
                        <td>{{item.ChiPhiCo}}</td>
                        <td>{{item.ChiPhiKhong}}</td>
                        <td>{{item.RatKhongHaiLong}}</td>
                        <td>{{item.KhongHaiLong}}</td>
                        <td>{{item.BinhThuong}}</td>
                        <td>{{item.HaiLong}}</td>
                        <td>{{item.RatHaiLong}}</td>
                        <td>{{item.GhiChu}}</td>
                        
                   
                    </tr>

                </tbody>
            </table>
        </div>
        <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator"
            [isLoading]="isLoading" (paginate)="paginate($event)"></app-paginator>
    </div>
</div>
