<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">Chi tiết khảo sát</h3>
        </div>
    </div>
    <div class="card-body">
        <ng-container *ngIf="isLoadingForm$ | async">
            <div class="overlay-layer bg-transparent">
                <div class="spinner spinner-lg spinner-success"></div>
            </div>
        </ng-container>

        <ng-container *ngIf="CanhBaoChiTiet">
        <!-- begin: Filtration form -->
        <div class="form form-label-right">
            <form action="#" class="form form-label-right" [formGroup]="filterGroup">      
            
            <div class="row">
                <div class="col-lg-4"  >
                    <label>Mã YC</label>
                    <input type="text" class="form-control" disabled="disabled"  name="maYeuCau"  value="{{maYeuCau}}"
                        formControlName="maYeuCau" />
                        
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6"  >
                    <label>Tên Khách hàng</label>
                    <input type="text" class="form-control" disabled="disabled"  name="tenKhachHang"  value="{{tenKhachHang}}"
                        formControlName="tenKhachHang" />
                </div>
                <div class="col-lg-4"  >
                    <label>SDT Khách hàng</label>
                    <input type="text" class="form-control" disabled="disabled"  name="soDienThoai"  value="{{soDienThoai}}"
                        formControlName="soDienThoai" />
                </div>
                
                
            </div>
            <div class="row">
                <div class="col-lg-2" style="display: none;" [formGroup]="filterGroup">
                    <label>Trạng thái khảo sát</label>
                    <select class="form-control" name="TrangThaiKhaoSat" placeholder="Trạng thái khảo sát" formControlName="TrangThaiKhaoSat">
                        <option value="-1">-- Tất cả --</option>
                        <option value="1">Chưa khảo sát</option>
                        <option value="2">Dừng ngang</option>
                        <option value="3">Chưa liên lạc được</option>
                        <option value="4">Thành công</option>
                        <option value="5">Chuyển đơn vị</option>
                        <option value="6">Phản hồi</option>
                    </select>
                </div>
                <div class="col-lg-2" style="display: none;" [formGroup]="filterGroup">
                    <label>Mức độ hài lòng</label>
                    <select class="form-control" name="mucdo_hailong" placeholder="Mức độ hài lòng" formControlName="mucdo_hailong">
                        <option selected="selected" value="-1">-- Tất cả --</option>
                        <option value="1">1.Rất không hài lòng</option>
                        <option value="2">2.Không hài lòng</option>
                        <option value="3">3.Bình thường</option>
                        <option value="4">4.Hài lòng</option>
                        <option value="5">5.Rất hài lòng</option>
                    </select>
                </div>
                <div class="col-lg-2" style="display: none;" style="padding: 25px;">
                    <button style="display: none;" type="button" class="form-control btn btn-primary " 
                        (click)="filter()">
                        <i class="fa fa-search"></i>
                        Tìm kiếm
                    </button>
                </div>
            </div>
            
            </form>
        </div>
        
        <div class="row" style="padding: 10px;">
            <div class="col-lg-12 text-right">
                <button  *ngIf="(viewbuton && allowGSCD | async )"  class="btn btn-primary mr-2 right" style="float: right;" (click)="createKS(maYeuCau)"> Thêm khảo sát</button>
            </div>
            
        </div>
      
        <div class="table-responsive angular-bootstrap-table">
            <table class="table table-head-custom table-vertical-center overflow-hidden">
                <thead>
                    <th style="width: 40px;text-align: center;">ID khảo sát</th>
                    <th>Tên Khách Hàng</th>
                    <th>Địa chỉ</th>
                    <th>Mục đích sử dụng điện</th>
                    <th>Trạng thái cuộc gọi</th>
                    <th>Mức độ hài lòng</th> 
                    <th>Ý kiến khách hàng</th>
                    <th>Phản hồi đơn vị</th>
                    <th>Ngày khảo sát</th>
                    <th>Tương tác</th>
                    
                    
                </thead>
                <tbody>
                    <tr *ngFor="let item of khaoSat;">
                        <td>{{item.ID}}</td>
                        <td>{{item.TEN_KH}}</td>
                        <td>{{item.DIA_CHI}}</td>
                        <td>{{item.MUCDICH_SD_DIEN}}</td>
                        <td>
                        <a *ngIf="(item.TRANGTHAI_GOI == 0 )" >Đã gọi thành công </a>
                        <a *ngIf="(item.TRANGTHAI_GOI == 1 )" >Chưa gọi được </a>
                        <a *ngIf="(item.TRANGTHAI_GOI == 2 )" >Dừng ngang cuộc gọi</a>
                        </td> 
                         <td>
                            <a *ngIf="(item.DGHL_CAPDIEN == 1 )" >Rất không hài lòng </a>
                            <a *ngIf="(item.DGHL_CAPDIEN == 2 )" >Không hài lòng </a>
                            <a *ngIf="(item.DGHL_CAPDIEN == 3 )" >Bình thường</a>
                            <a *ngIf="(item.DGHL_CAPDIEN == 4 )" >Hài lòng </a>
                            <a *ngIf="(item.DGHL_CAPDIEN == 5 )" >Rất hài lòng</a>
                        </td> 
                        <td>{{item.Y_KIEN_KH}}</td>
                        <td>{{item.PHAN_HOI}}</td>
                        <td>{{item.NGAY}}</td>
                        <td>
                            <a *ngIf="((allowGSCD | async) && item.TRANGTHAI != 6)" (click)="edit(item.ID)"class="btn btn-primary">Sửa khảo sát </a>
                            <a *ngIf="((allowPHGS | async) && item.TRANGTHAI <= 5)" (click)="createPHDV(maYeuCau, item.ID)" class="btn btn-primary">Đơn vị phản hồi</a>
                            <a *ngIf="((allowGSCD | async) && item.TRANGTHAI != 6)" (click)="updateStatus(item.ID, 6)" class="btn btn-primary">Kết thúc khảo sát</a>
                            <a href="kskh/log/filter/{{item.ID}}" target="_blank" class="btn btn-primary">Lịch sử tương tác khảo sát</a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <!-- <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator"
            [isLoading]="isLoading" (paginate)="paginate($event)"></app-paginator> -->
        </ng-container>
    </div>
</div>
