<!--begin::Container-->
<div
  [ngClass]="footerContainerCSSClasses"
  class="d-flex flex-column flex-md-row align-items-center justify-content-between"
>

  <!--begin::Nav-->
  <div class="nav nav-dark" style="height: 130%;text-align: center;margin-left: 300px;" >
    <a href="http://online.gov.vn/Home/WebDetails/79724" style="font-style: italic;" target="_blank"><img alt=""
      class="img-fluid" height="60" src="../../../../../assets/media/logos/bocongthuong.png" width="150"></a><a
    href="http://online.gov.vn/Home/AppDetails/1536" style="font-style: italic;" target="_blank"><img alt=""
      class="img-fluid" height="60" src="../../../../../assets/media/logos/bocongthuong.png" width="150"></a><a
    href="http://online.gov.vn/Home/WebDetails/79723" style="font-style: italic;" target="_blank"><img alt=""
      class="img-fluid" height="60" src="../../../../../assets/media/logos/bocongthuong.png" width="150"></a>
      <p style="margin-left: 10px;"><span class="txt-bold">© 2021</span> Bản
        quyền thuộc <span class="txt-bold">TỔNG CÔNG TY ĐIỆN LỰC TP.HÀ
          NỘI.</span><br class="s-pc"> Số ĐKKD 0100101114 do Sở KHĐT Tp. Hà Nội cấp
        ngày 02/04/2010</p>
  </div>

  <!--end::Nav-->
</div>
<!--end::Container-->
