<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">Danh sách khách hàng cần khảo sát</h3>
        </div>
    </div>
    <div class="card-body">
        <!-- begin: Filtration form -->
        <div class="form form-label-right">
            <div class="form-group row">
                <div class="col-lg-2" [formGroup]="filterGroup">
                    <label>Đơn vị quản lý</label>
                    <select class="form-control" name="maDViQLy" formControlName="maDViQLy">
                        <ng-container *ngIf="allowGetAll | async">
                            <option  value="">-- Chọn tất cả --</option>
                          </ng-container>
                        <option [value]="item.orgCode" *ngFor="let item of organizations">
                            {{item.orgCode}} - {{item.orgName}}
                        </option>
                    </select>
                </div>
                <div class="col-lg-2" [formGroup]="filterGroup">
                    <label>Trạng thái khảo sát</label>
                    <select class="form-control" name="trangthai_khaosat" placeholder="Trạng thái khảo sát" formControlName="trangthai_khaosat">
                        <option selected="selected" value="">-- Tất cả --</option>
                        <option value="Kết thúc khảo sát">Kết thúc khảo sát</option>
                        <option value="Đang khảo sát">Đang khảo sát</option>
                        <option value="Chưa khảo sát">Chưa khảo sát</option>
                        <!-- <option value="2">Dừng ngang</option>
                        <option value="3">Chưa liên lạc được</option>
                        <option value="4">Thành công</option>
                        <option value="5">Chuyển đơn vị</option>
                        <option value="6">Phản hồi</option> -->
                        <option value="Dừng ngang cuộc gọi">Dừng ngang cuộc gọi</option>
                        <option value="Chưa gọi được">Chưa gọi được</option>
                        <option value="Đã gọi thành công">Đã gọi thành công</option>
                        <option value="Chuyển đơn vị">Chuyển đơn vị</option>
                    </select>
                </div>

                <div class="col-lg-2" [formGroup]="filterGroup">
                    <label>Mức độ hài lòng</label>
                    <select class="form-control" name="mucdo_hailong" placeholder="Mức độ hài lòng" formControlName="mucdo_hailong">
                        <option selected="selected" value="-1">-- Tất cả --</option>
                        <option value="1">Rất không hài lòng</option>
                        <option value="2">Không hài lòng</option>
                        <option value="3">Bình thường</option>
                        <option value="4">Hài lòng</option>
                        <option value="5">Rất hài lòng</option>
                    </select>
                </div>


                <div class="col-lg-2" [formGroup]="filterGroup">
                    <label>Trạng thái yêu cầu</label>
                    <!-- <input type="text" class="form-control" name="maLoaiCanhBao" placeholder="Mã loại cảnh báo" value=""
                        formControlName="maLoaiCanhBao" /> -->
                    <select class="form-control" name="trangthai_ycau" placeholder="Trạng thái yêu cầu" formControlName="trangthai_ycau">
                        <option selected="selected" value="-1">-- Tất cả --</option>
                        <option value="Hoàn thành">Hoàn thành</option>
                        <option value="Hủy">Hủy</option>
                    </select>
                </div>
                <div class="col-lg-2" [formGroup]="filterGroup" style="display: none;">
                    <label>Mã loại cảnh báo</label>
                    <!-- <input type="text" class="form-control" name="maLoaiCanhBao" placeholder="Mã loại cảnh báo" value=""
                        formControlName="maLoaiCanhBao" /> -->
                    <select class="form-control" name="maLoaiCanhBao" placeholder="Mã loại cảnh báo" formControlName="maLoaiCanhBao">
                        <option selected="selected" value="-1">-- Tất cả --</option>
                        <option value="1">1.Thời gian tiếp nhận yêu cầu cấp điện lập thỏa thuận đấu nối</option>
                        <option value="2">2.Thời gian thực hiện lập thỏa thuận đấu nối</option>
                        <option value="3">3.Thời gian tiếp nhận yêu cầu kiểm tra đóng điện</option>
                        <option value="4">4.Thời gian dự thảo và ký hợp đồng mua bán điện</option>
                        <option value="5">5.Thời gian thực hiện kiểm tra điều kiện kỹ thuật điểm đấu nối</option>
                        <option value="6">6.Giám sát thời gian nghiệm thu yêu cầu cấp điện</option>
                        <option value="7">7.Hồ sơ sắp hết hạn hiệu lực thỏa thuận đấu nối</option>
                        <option value="8">8.Thời gian thực hiện cấp điện mới trung áp</option>
                        <option value="9">9.Từ chối tiếp nhận yêu cầu cấp điện/thỏa thuận đấu nối</option>
                        <option value="10">10.Trở ngại khảo sát lập thỏa thuận đấu nối</option>
                        <option value="11">11.Hủy yêu cầu lập thỏa thuận đấu nối</option>
                        <option value="12">12.Từ chối tiếp nhận yêu cầu kiểm tra điều kiện đóng điện điểm đấu nối</option>
                        <option value="13">13.Khách hàng từ chối ký thỏa thuận đấu nối</option>
                        <option value="14">14.Trở ngại khi kiểm tra điều kiện đóng điện điểm đấu nối.</option>
                        <option value="15">15.Trở ngại khi thi công treo tháo</option>
                        <option value="16">16.Khách hàng từ chối ký hợp đồng mua bán điện</option>
                    </select>
                </div>
                </div>
                <div class="form-group row">
                <div class="col-lg-2" [formGroup]="filterGroup">
                    <label>Từ ngày</label>
                    <div class="input-group input-group-solid">
                        <div class="input-group-append" (click)="fromdate.toggle()">
                            <span class="input-group-text">
                                <i class="text-dark-50 flaticon-calendar"></i>
                            </span>
                        </div>
                        <input type="text" name="fromdate" class="form-control form-control-solid" autocomplete="off"
                            placeholder="dd/mm/yyyy" ngbDatepicker #fromdate="ngbDatepicker"
                            formControlName="fromdate" />
                    </div>
                </div>
                <div class="col-lg-2" [formGroup]="filterGroup">
                    <label>Đến ngày</label>
                    <div class="input-group input-group-solid">
                        <div class="input-group-append" (click)="todate.toggle()">
                            <span class="input-group-text">
                                <i class="text-dark-50 flaticon-calendar"></i>
                            </span>
                        </div>
                        <input type="text" name="todate" class="form-control form-control-solid" autocomplete="off"
                            placeholder="dd/mm/yyyy" ngbDatepicker #todate="ngbDatepicker" formControlName="todate" />
                    </div>
                </div>
                <div class="col-lg-2" [formGroup]="filterGroup">
                    <label>Từ khóa</label>
                    <div class="input-group input-group-solid">
                        <input type="text" name="keyword" class="form-control form-control-solid" autocomplete="off"
                              formControlName="keyword" />
                    </div>
                </div>
                <div class="col-lg-2">
                    <button type="button" class="btn btn-primary " style="height: 60%;bottom: 0;position: absolute;"
                        (click)="filter()">
                        <i class="fa fa-search"></i>
                        Tìm kiếm
                    </button>
                </div>
            </div>
            
        </div>
        <div class="table-responsive angular-bootstrap-table">
            <table class="table table-head-custom table-vertical-center overflow-hidden">
                <thead>
                    <th>
                        Mã yêu cầu
                    </th>
                    <th>
                        Tên khách hàng
                    </th>
                    <th>
                        Dự án điện
                    </th>
                    <th>
                        Trạng thái yêu cầu
                    </th>
                    <th>
                        Trạng thái khảo sát
                    </th>
                    <th>Điện thoại</th>
                    <th>Email</th>
                    <th>Tương tác</th>
                    
                    
                </thead>
                <tbody>
                    <tr *ngFor="let item of service.items$ | async; let i=index;">
                        <td>{{item.MaYeuCau}}</td>
                        <!-- <td>{{item.TenKhachHang !== "" ? item.TenKhachHang : item.NguoiYeuCau}}</td> -->
                        <td>{{item.CoQuanChuQuan}}</td>
                        <td>{{item.DuAnDien}}</td>
                        <td>{{item.TrangThaiText}}</td>
                        <td>{{item.TrangThai_khaosat}}</td>
                        <td>{{item.DienThoai}}</td>
                        <td>{{item.Email}}</td>
                        <td style="text-align: center;">
                            <a [routerLink]="'/kskh/detail/' + item.MaYeuCau" style="padding-right: 10px;"> <i
                                    class="fa fa-eye text-primary"></i></a>
                            <!-- <a (click)="histories(item.MaYeuCau)" title="Xem lịch sử xử lý yêu cầu"> <i class="fa fa-history text-primary"></i></a> -->
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator"
            [isLoading]="isLoading" (paginate)="paginate($event)"></app-paginator>
    </div>
</div>