<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">Chi tiết cảnh báo</h3>
        </div>
    </div>
    <div class="card-body">
        <ng-container *ngIf="isLoadingForm$ | async">
            <div class="overlay-layer bg-transparent">
                <div class="spinner spinner-lg spinner-success"></div>
            </div>
        </ng-container>

        <ng-container *ngIf="CanhBaoChiTiet">
        <!-- begin: Filtration form -->
        <div class="form form-label-right">
            <form action="#" class="form form-label-right" [formGroup]="filterGroup">      
            <div class="row">
                
                <div class="col-lg-4" >
                    <label>Mã Cảnh báo</label>
                    <input type="text" class="form-control" disabled="disabled" name="idCanhBao" value="{{idCanhBao}}"
                        formControlName="idCanhBao" />
                </div>
                <div class="col-lg-4">
                    <label>Mã loại cảnh báo</label>
                    <input type="text" class="form-control" disabled="disabled"  name="maLoaiCanhBao"  value="{{maLoaiCanhBao}}"
                        formControlName="maLoaiCanhBao" />
                </div>
                
                <div class="col-lg-4"  >
                    <label>Thời gian gửi</label>
                    <input type="text" class="form-control" disabled="disabled"  name="thoiGianGui" value="{{thoiGianGui}}"
                        formControlName="thoiGianGui" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4"  >
                    <label>Mã YC</label>
                    <input type="text" class="form-control" disabled="disabled"  name="maYeuCau"  value="{{maYeuCau}}"
                        formControlName="maYeuCau" />
                        
                </div>
                <div class="col-lg-4" >
                    <label>Đơn vị quản lý</label>
                    <select  class="form-control" name="donViQuanLy" formControlName="donViQuanLy">
                        <option [value]="item.orgCode" *ngFor="let item of organizations" >
                            {{item.orgCode}} - {{item.orgName}}
                        </option>
                    </select>
                </div>
                <div class="col-lg-4"  >
                    <label>Trạng thái cảnh báo</label>
                    <input type="text" class="form-control" disabled="disabled"  name="trangThai"  value="{{trangThai}}"
                        formControlName="trangThai" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4"  >
                    <label>ID Yêu cầu</label>
                    <input type="text" class="form-control" disabled="disabled"  name="idYeuCau"  value="{{idYeuCau}}"
                        formControlName="idYeuCau" />
                        <a target="_blank" href="/ttdn/list/update/{{idYeuCau}}">Xem chi tiết</a>
                </div>
                <div class="col-lg-4"  >
                    <label>Tên Khách hàng</label>
                    <input type="text" class="form-control" disabled="disabled"  name="tenKhachHang"  value="{{tenKhachHang}}"
                        formControlName="tenKhachHang" />
                </div>
                <div class="col-lg-4"  >
                    <label>SDT Khách hàng</label>
                    <input type="text" class="form-control" disabled="disabled"  name="soDienThoai"  value="{{soDienThoai}}"
                        formControlName="soDienThoai" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4"  >
                    <label>Trạng thái yêu cầu</label>
                    <input type="text" class="form-control" disabled="disabled"  name="trangThaiYeuCau"  value="{{trangThaiYeuCau}}"
                        formControlName="trangThaiYeuCau" />
                </div>
                <div class="col-lg-4"  >
                    <label>Nội dung cảnh báo</label>
                    <textarea class="form-control" disabled="disabled"  name="noiDungCanhBao" value="{{noiDungCanhBao}}"
                        formControlName="noiDungCanhBao"></textarea>
                </div>
                <div class="col-lg-4"  >
                    <label>Nguyên nhân cảnh báo</label>
                    <select  class="form-control" name="NGUYENHHAN_CANHBAO" formControlName="NGUYENHHAN_CANHBAO">
                        <option value="1" >Ngành điện</option>
                        <option value="2" >Khách quan</option>
                        <option value="3" >Chương trình</option>
                    </select>
                </div>

                <div class="col-lg-4"  >
                    <label>Kết quả giám sát</label>
                    <input type="text" class="form-control" name="KETQUA_GIAMSAT"  value="{{KETQUA_GIAMSAT}}"
                        formControlName="KETQUA_GIAMSAT" />
                </div>

            </div>
            </form>
        </div>

        <div class="row" style="padding: 10px;">
            <div class="col-lg-6">
                <button *ngIf="((allowGSCD | async) && trangThaiHienNut == 2 )" class="btn btn-primary mr-2" (click)="updateStatusCanhBao(id,3)"> Xác nhận cảnh báo </button>
                <button *ngIf="((allowGSCD | async) && trangThaiHienNut == 3 )" class="btn btn-primary mr-2" (click)="updateStatusCanhBao(id,4)">Chuyển đơn vị xử lý</button>
                <button *ngIf="((allowGSCD | async) && trangThaiHienNut != 6 )" class="btn btn-primary mr-2" (click)="updateStatusCanhBao(id,6)">Kết thúc cảnh báo</button>
          
            </div>
            <div class="col-lg-6 text-right">
                <button *ngIf="((viewbuton && allowGSCD | async) && trangThaiHienNut == 4 )"  class="btn btn-primary mr-2 right" style="float: right;" (click)="createPH(id)"> Thêm phản hồi</button>
            </div>
        </div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" (click)="changeTab(tabs.PhanHoiTraoDoi)"
              [class.active]="activeTabId === tabs.PhanHoiTraoDoi">
              <a class="nav-link" data-toggle="tab" role="button" [attr.aria-selected]="activeTabId === tabs.PhanHoiTraoDoi"
                [class.active]="activeTabId === tabs.PhanHoiTraoDoi">
                <span class="menu-text">1) Danh sách phản hồi, trao đổi</span>
              </a>
            </li>
  
            <li class="nav-item" (click)="changeTab(tabs.LichSuTuongTac)"
              [class.active]="activeTabId === tabs.LichSuTuongTac">
              <a class="nav-link" data-toggle="tab" role="button"
                [attr.aria-selected]="activeTabId === tabs.LichSuTuongTac"
                [class.active]="activeTabId === tabs.LichSuTuongTac">
                <span class="menu-text">2) Lịch sử tương tác</span>
              </a>
            </li>
  
            
          </ul>
          <div class="tab-content mt-5" id="myTabContent">
            <ng-container *ngIf="activeTabId === tabs.PhanHoiTraoDoi ">
                <div class="table-responsive angular-bootstrap-table">
                    <table class="table table-head-custom table-vertical-center overflow-hidden">
                        <thead>
                            <th style="width: 40px;text-align: center;">
                                ID phản hồi
                            </th>
                   
                          
                            <th style="width: 110px">
                                Nội dung phản hồi (X3)
                             </th>
                             <th>
                                Người phản hồi (X3)
                             </th>
                             <th style="width: 110px">
                                Nội dung phản hồi (Đơn vị)
                            </th>
                             <th>
                                Người gửi (Đơn vị)
                             </th>
                             <th>
                                 Thời gian gửi
                             </th>
                            <th>
                                Đính kèm
                            </th>
                            <th>
                                Tương tác
                            </th>
                            
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of phanHoi;">
                                <td>{{item.ID}}</td>
                                <!-- <td>{{item.TenKhachHang !== "" ? item.TenKhachHang : item.NguoiYeuCau}}</td> -->
                                <td>{{item.NOIDUNG_PHANHOI_X3}}</td>
                                <td>{{item.NGUOI_PHANHOI_X3}}</td>
                                <td>{{item.noiDungPhanHoi}}</td>
                                <td>{{item.nguoiGui}}</td>
                                <td>{{item.thoiGianGui}}</td>
                                <td>
                                    <ng-container *ngIf="item.FILE_DINHKEM">
                                      <a (click)="view(item.FILE_DINHKEM)" target="_blank">
                                        <i class="fa fa-image"></i>
                                      </a>
                                    </ng-container>
                                  </td>
                                <td>
                                    <a *ngIf="(allowPHGS | async)" (click)="edit(item.ID)"><i class="fa fa-edit"></i> </a>
                                    <a *ngIf="(allowGSCD | async)" (click)="deletePH(item.ID)"><i class="fa fa-trash-alt"></i></a>
                                </td>
                            </tr>
        
                        </tbody>
                    </table>
                </div>
            </ng-container>
            <ng-container *ngIf="activeTabId === tabs.LichSuTuongTac">
                <div class="table-responsive angular-bootstrap-table">
                    <table class="table table-head-custom table-vertical-center overflow-hidden">
                        <thead>                    
                            <!-- <th style="width: 40px;"> STT </th> -->
                            <th style="width: 60px;">
                                ID
                            </th>
                            <th>
                                dữ liệu cũ
                            </th>
                            <th>
                                dữ liệu mới
                            </th>
                            <th>
                                người tương tác
                            </th>
                            <th>
                                thời gian
                            </th>
                            <th>
                                trạng thái thay đổi
                            </th>
                                          
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of Logservice.items$ | async; let i=index;">
                                <!-- <td>{{ i + paginator.pageSize * (paginator.page - 1) + 1 }}</td> -->
                                <td>{{item.ID}}</td>
                                <td>{{item.DATA_CU}}</td>                    
                                <td>{{item.DATA_MOI}}</td>                    
                                <td>{{item.NGUOITHUCHIEN}}</td>                    
                                <td>{{item.THOIGIAN}}</td>                    
                                <td>{{item.TRANGTHAI_CANHBAO}}</td>                    
                                                  
                                                                              
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-container>
            
          </div>
        
        <!-- <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator"
            [isLoading]="isLoading" (paginate)="paginate($event)"></app-paginator> -->
        </ng-container>
    </div>
</div>
