<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">Danh sách yêu cầu</h3>
        </div>
    </div>
    <div class="card-body">
        <!-- begin: Filtration form -->
        <div class="form form-label-right">
            <div class="form-group row">
                <div class="col-lg-4" [formGroup]="filterGroup">
                    <label>Đơn vị quản lý</label>
                    <select class="form-control" name="maDViQLy" formControlName="maDViQLy">
                        <ng-container *ngIf="allowGetAll | async">
                            <option value="-1">-- Chọn tất cả --</option>
                          </ng-container>
                        <option  [value]="item.orgCode" *ngFor="let item of organizations">
                            {{item.orgCode}} - {{item.orgName}}
                        </option>
                    </select>
                </div>
                <div class="col-lg-4" [formGroup]="filterGroup">
                    <label>Mã YC</label>
                    <input type="text" class="form-control" name="keyword" placeholder="Từ khóa tìm kiếm" value=""
                        formControlName="keyword" />
                </div>
                <div class="col-lg-4" [formGroup]="filterGroup">
                    <label>Mã loại cảnh báo</label>
                    <!-- <input type="text" class="form-control" name="maLoaiCanhBao" placeholder="Mã loại cảnh báo" value=""
                        formControlName="maLoaiCanhBao" /> -->
                    <select class="form-control" name="maLoaiCanhBao" placeholder="Mã loại cảnh báo" formControlName="maLoaiCanhBao">
                        <option selected="selected" value="-1">-- Tất cả --</option>
                        <option value="1">1. Giám sát thời gian tiếp nhận yêu cầu cấp điện lập thỏa thuận đấu nối của khách hàng</option>
                        <option value="2">2. Giám sát thời gian thực hiện lập thỏa thuận đấu nối</option>
                        <option value="3">3. Giám sát thời gian tiếp nhận yêu cầu kiểm tra điểm đóng điện và nghiệm thu</option>
                        <option value="4">4. Giám sát thời gian dự thảo và ký hợp đồng mua bán điện</option>
                        <option value="5">5. Giám sát thời gian thực hiện kiểm tra điều kiện kỹ thuật điểm đấu nối và nghiệm thu</option>
                        <option value="6">6. Giám sát thời gian thực hiện cấp điện mới trung áp</option>
                        <option value="7">7. Giám sát việc từ chối tiếp nhận yêu cầu cấp điện/thỏa thuận đấu nối</option>
                        <option value="8">8. Giám sát trờ ngại khảo sát lập thỏa thuận đấu nối</option>
                        <option value="9">9. Giám sát việc từ chối tiếp nhận yêu cầu lập thỏa thuận đấu nối</option>
                        <option value="10">10. Giám sát việc từ chối tiếp nhận yêu cầu kiểm tra điều kiện đóng điện điểm đấu nối và nghiệm thu</option>
                        <option value="11">11. Giám sát nguyên nhân khách hàng từ chối ký thỏa thuận đấu nối</option>
                        <option value="12">12. Giám sát trở ngại khi kiểm tra điều kiện đóng điện điểm đấu nối</option>
                        <option value="13">13. Giám sát trở ngại khi thi công treo tháo</option>
                        <option value="14">14. Giám sát nguyên nhân khách hàng từ chối ký hợp đồng mua bán điện</option>
                        <option value="15">15. Giám sát thời gian nghiệm thu yêu cầu cấp điện mới trung áp</option>
                        <option value="16">16. Cảnh báo các bộ hồ sơ sắp hết hạn hiệu lực thỏa thuận đấu nối</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-3" [formGroup]="filterGroup">
                    <label>Số lần gửi</label>
                    <input type="text" class="form-control" name="SoLanGui" placeholder="Tất cả" value=""
                        formControlName="SoLanGui" />
                </div>
                <div class="col-lg-3" [formGroup]="filterGroup">
                    <label>Trạng thái</label>
                    <select class="form-control" name="trangThai" placeholder="Trạng thái" formControlName="trangThai">
                        <option selected="selected" value="-1">-- Tất cả --</option>
                        <option value="1">Mới tạo danh sách</option>
                        <option value="2">Đã gửi thông báo</option>
                        <option value="3">Đã tiếp nhận theo dõi</option>
                        <option value="4">Chuyển đơn vị xử lý</option>
                        <option value="5">Gửi lại cảnh báo</option>
                        <option value="6">Đã đóng cảnh báo</option>
                    </select>
                </div>
            
                <div class="col-lg-2" [formGroup]="filterGroup">
                    <label>Từ ngày</label>
                    <div class="input-group input-group-solid">
                        <div class="input-group-append" (click)="fromdate.toggle()">
                            <span class="input-group-text">
                                <i class="text-dark-50 flaticon-calendar"></i>
                            </span>
                        </div>
                        <input type="text" name="fromdate" class="form-control form-control-solid" autocomplete="off"
                            placeholder="dd/mm/yyyy" ngbDatepicker #fromdate="ngbDatepicker"
                            formControlName="fromdate" />
                    </div>
                </div>
                <div class="col-lg-2" [formGroup]="filterGroup">
                    <label>Đến ngày</label>
                    <div class="input-group input-group-solid">
                        <div class="input-group-append" (click)="todate.toggle()">
                            <span class="input-group-text">
                                <i class="text-dark-50 flaticon-calendar"></i>
                            </span>
                        </div>
                        <input type="text" name="todate" class="form-control form-control-solid" autocomplete="off"
                            placeholder="dd/mm/yyyy" ngbDatepicker #todate="ngbDatepicker" formControlName="todate" />
                    </div>
                </div>
                <div class="col-lg-2">
                    <button type="button" class="btn btn-primary " style="height: 60%;bottom: 0;position: absolute;"
                        (click)="filter()">
                        <i class="fa fa-search"></i>
                        Tìm kiếm
                    </button>
                </div>
            </div>
        </div>
        <div class="table-responsive angular-bootstrap-table">
            <table class="table table-head-custom table-vertical-center overflow-hidden">
                <thead>
                    <th style="width: 40px;text-align: center;">
                        ID
                    </th>
                    <th style="width: 210px">
                        Nội dung cảnh báo
                    </th>
                    <th style="width: 20px">
                        Trạng thái
                    </th>
                    <th style="width: 20px">
                        Thời gian gửi
                    </th>
                    <th style="width: 20px">
                        Lần gửi
                    </th>
                    <th style="width: 20px">
                        Đơn vị điện lực
                    </th>
                    <th style="width: 20px">
                        mã yêu cầu
                    </th>
                    <th style="width: 20px">
                        Tương tác
                    </th>
                    
                </thead>
                <tbody>
                    <tr *ngFor="let item of service.items$ | async; let i=index;">
                        <td>{{item.id}}</td>
                        <!-- <td>{{item.TenKhachHang !== "" ? item.TenKhachHang : item.NguoiYeuCau}}</td> -->
                        <td style="width: 210px" >{{item.noiDungCanhBao}}</td>
                        <td>
                            <span *ngIf="item.trangThai == 1">Mới tạo</span>
                            <span *ngIf="item.trangThai == 2">Đã gửi thông báo</span>
                            <span *ngIf="item.trangThai == 3">Đã tiếp nhận theo dõi</span>
                            <span *ngIf="item.trangThai == 4">Chuyển đơn vị xử lý</span>
                            <span *ngIf="item.trangThai == 5">Gửi lại cảnh báo</span>
                            <span *ngIf="item.trangThai == 6">Kết thúc cảnh báo</span>
                        </td>
                        <td>{{item.thoiGianGui}}</td>
                        <td>{{item.lanGui}}</td>
                        <td>{{item.donViQuanLy}}</td>
                        <td>{{item.maYeuCau}}</td>
                        
                        <td style="text-align: center;">
                            <a [routerLink]="'/gscd/detail/' + item.id" style="padding-right: 10px;"> <i
                                    class="fa fa-eye text-primary"></i></a>
                            <!-- <a (click)="histories(item.MaYeuCau)" title="Xem lịch sử xử lý yêu cầu"> <i class="fa fa-history text-primary"></i></a> -->
                        </td>
                        
                        
                    </tr>

                </tbody>
            </table>
        </div>
        <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator"
            [isLoading]="isLoading" (paginate)="paginate($event)"></app-paginator>
    </div>
</div>