<div class="modal-content">
    <div class="modal-header">
        <div class="modal-title h4" id="example-modal-sizes-title-lg">
            Thỏa thuận bảo đảm
        </div>
    </div>
    <div class="overlay overlay-block cursor-default modal-body" style="min-height: 404px;">

        <ng-container>
            <form action="#" class="form form-label-right" [formGroup]="formGroup">
                <div class="form-group row">
                    <div class="col-lg-3">
                        <label>Giờ</label>
                        <input type="text" class="form-control" autocomplete="off" placeholder="Giờ" name="Gio"
                            formControlName="Gio" />
                    </div>

                    <div class="col-lg-3">
                        <label>Phút </label>
                        <input type="text" class="form-control" autocomplete="off" placeholder="Phút" name="Phut"
                            formControlName="Phut" />
                    </div>
                    <div class="col-lg-6">
                        <label>Ngày lập</label>
                        <div class="input-group input-group-solid">
                            <div class="input-group-append" (click)="NgayLap.toggle()">
                                <span class="input-group-text">
                                    <i class="text-dark-50 flaticon-calendar"></i>
                                </span>
                            </div>
                            <input type="text" name="NgayLap" class="form-control " autocomplete="off"
                                placeholder="dd/mm/yyyy" ngbDatepicker #NgayLap="ngbDatepicker"
                                formControlName="NgayLap" />
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-12">
                        <label>Địa điểm</label>
                        <input type="text" class="form-control" autocomplete="off" placeholder="Địa điểm" name="DiaDiem"
                            formControlName="DiaDiem" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-4">
                        <label>Mã số thuế</label>
                        <input type="text" class="form-control" autocomplete="off" placeholder="Mã số thuế" name="MaSoThue"
                            formControlName="MaSoThue" />
                    </div>
                    <div class="col-lg-4">
                        <label>Số tài khoản </label>
                        <input type="text" class="form-control" autocomplete="off" placeholder="Số tài khoản" name="SoTaiKhoan"
                            formControlName="SoTaiKhoan" />
                    </div>
                    <div class="col-lg-4">
                        <label>Ngân hàng </label>
                        <input type="text" class="form-control" autocomplete="off" placeholder="Ngân hàng" name="NganHang"
                            formControlName="NganHang" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-4">
                        <label>Đơn vị </label>
                        <input type="text" class="form-control" autocomplete="off" placeholder="Đơn vị" name="DonVi"
                            formControlName="DonVi" />
                    </div>
                    <div class="col-lg-4">
                        <label>Đại diện EVN </label>
                        <input type="text" class="form-control" autocomplete="off" placeholder="Đại diện" name="DaiDien"
                            formControlName="DaiDien" />
                    </div>
                    <div class="col-lg-4">
                        <label>Chức danh </label>
                        <input type="text" class="form-control" autocomplete="off" placeholder="Chức danh" name="ChucVu"
                            formControlName="ChucVu" />
                    </div>
                </div>
                <div class="form-group row">
                   
                    <div class="col-lg-6">
                        <label>Email</label>
                        <input type="text" class="form-control" autocomplete="off" placeholder="Email" name="Email"
                            formControlName="Email" />
                    </div>
                    <div class="col-lg-6">
                        <label>Điện thoại CSKH </label>
                        <input type="text" class="form-control" autocomplete="off" placeholder="Điện thoại CSKH" name="DienThoaiCSKH"
                            formControlName="DienThoaiCSKH" />
                    </div>
        
                </div>
                <div class="form-group row">
                    <div class="col-lg-6">
                        <label>Người ký UQ </label>
                        <select class="form-control" (change)='getUQData($event)' name="NguoiKyUQ"
                            formControlName="NguoiKyUQ">
                            <option value="">-- Chọn người ký --</option>
                            <option [value]="item.tnguoiUquyen" *ngFor="let item of MetadataService.listUQ$ |async">
                                {{item.tnguoiUquyen}}
                            </option>
                        </select>
                    </div>
             
                </div>
                <div class="form-group row">
                  
                    <div class="col-lg-12">
                        <label>BÊN MUA ĐIỆN </label>
                        
                    </div>
                 
                </div>
                <div class="form-group row">
                  
                    <div class="col-lg-6">
                        <label>Tên khách hàng</label>
                        <input type="text" class="form-control" autocomplete="off" placeholder="Bên mua điện" name="KHTen"
                            formControlName="KHTen" />
                    </div>
                    <div class="col-lg-6">
                        <label>Địa chỉ trụ sở chính</label>
                        <input type="text" class="form-control" autocomplete="off" placeholder="Địa chỉ dùng điện" name="KHDiaChi"
                            formControlName="KHDiaChi" />
                    </div>
                    
                </div>
                <div class="form-group row">
                    <div class="col-lg-6">
                        <label>Số đăng ký doanh nghiệp </label>
                        <input type="text" class="form-control" autocomplete="off" placeholder="Số đăng ký doanh nghiệp" name="KHDangKyKD"
                            formControlName="KHDangKyKD" />
                    </div>
                    <div class="col-lg-6">
                        <label>Mã số thuế </label>
                        <input type="text" class="form-control" autocomplete="off" placeholder="Mã số thuế" name="KHMaSoThue"
                            formControlName="KHMaSoThue" />
                    </div>
                </div>
                <div class="form-group row">
                   
                    <div class="col-lg-6">
                        <label>Số tài khoản </label>
                        <input type="text" class="form-control" autocomplete="off" placeholder="Số tài khoản" name="KHSoTK"
                            formControlName="KHSoTK" />
                    </div>
                    <div class="col-lg-6">
                        <label>Ngân hàng </label>
                        <input type="text" class="form-control" autocomplete="off" placeholder="Ngân hàng" name="KHNganHang"
                            formControlName="KHNganHang" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-6">
                        <label>Điện thoại </label>
                        <input type="text" class="form-control" autocomplete="off" placeholder="Điện thoại" name="KHDienThoai"
                            formControlName="KHDienThoai" />
                    </div>
        
                    <div class="col-lg-6">
                        <label>Email</label>
                        <input type="text" class="form-control" autocomplete="off" placeholder="Email" name="KHEmail"
                            formControlName="KHEmail" />
                    </div>
       
                </div>

                <div class="form-group row">
                    <div class="col-lg-4">
                        <label>Đại diện </label>
                        <input type="text" class="form-control" autocomplete="off" placeholder="Đại diện " name="KHDaiDien"
                            formControlName="KHDaiDien" />
                    </div>
                    <div class="col-lg-4">
                        <label>Chức vụ</label>
                        <input type="text" class="form-control" autocomplete="off" placeholder="Chức vụ" name="KHChucVu"
                            formControlName="KHChucVu" />
                    </div>
                   
                </div>
                <div class="form-group row">
                    <div class="col-lg-4">
                        <label>Số CMND </label>
                        <input type="text" class="form-control" autocomplete="off" placeholder="Số CMND " name="KHSoGiayTo"
                            formControlName="KHSoGiayTo" />
                    </div>
                    <div class="col-lg-4">
                        <label>Nơi cấp </label>
                        <input type="text" class="form-control" autocomplete="off" placeholder="Nơi cấp" name="NoiCap"
                            formControlName="NoiCap" />
                    </div>
                    <div class="col-lg-4">
                        <label>Ngày cấp</label>
                        <div class="input-group input-group-solid">
                            <div class="input-group-append" (click)="NgayCap.toggle()">
                                <span class="input-group-text">
                                    <i class="text-dark-50 flaticon-calendar"></i>
                                </span>
                            </div>
                            <input type="text" name="NgayCap" class="form-control " autocomplete="off"
                                placeholder="dd/mm/yyyy" ngbDatepicker #NgayCap="ngbDatepicker"
                                formControlName="NgayCap" />
                        </div>
                    </div>
                   
                </div>

                <div class="form-group row">
                    <div class="col-lg-6">
                        <label>Văn bản UQ phía khách hàng</label>
                        <input type="text" class="form-control" autocomplete="off"
                            placeholder="Văn bản UQ phía khách hàng" name="KHVanBanUQ" formControlName="KHVanBanUQ" />
                    </div>
                    <div class="col-lg-3">
                        <label>Người UQ</label>
                        <input type="text" class="form-control" autocomplete="off"
                            placeholder="Tên lộ đường dây dự kiến đấu nối" name="KHNguoiUQ"
                            formControlName="KHNguoiUQ" />
                    </div>
                    <div class="col-lg-3">
                        <label>Ngày UQ</label>

                        <div class="input-group input-group-solid">
                            <div class="input-group-append" (click)="KHNgayUQ.toggle()">
                                <span class="input-group-text">
                                    <i class="text-dark-50 flaticon-calendar"></i>
                                </span>
                            </div>
                            <input type="text" name="KHNgayUQ" class="form-control "
                                autocomplete="off" placeholder="dd/mm/yyyy" ngbDatepicker #KHNgayUQ="ngbDatepicker"
                                formControlName="KHNgayUQ" />
                        </div>
                    </div>
                </div>
         
                <div class="form-group row">
                    <div class="col-lg-6">
                        <label>Từ ngày</label>
                        <div class="input-group input-group-solid">
                            <div class="input-group-append" (click)="TuNgay.toggle()">
                                <span class="input-group-text">
                                    <i class="text-dark-50 flaticon-calendar"></i>
                                </span>
                            </div>
                            <input type="text" name="TuNgay" class="form-control " autocomplete="off"
                                placeholder="dd/mm/yyyy" ngbDatepicker #TuNgay="ngbDatepicker"
                                formControlName="TuNgay" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <label>Đến ngày</label>
                        <div class="input-group input-group-solid">
                            <div class="input-group-append" (click)="DenNgay.toggle()">
                                <span class="input-group-text">
                                    <i class="text-dark-50 flaticon-calendar"></i>
                                </span>
                            </div>
                            <input type="text" name="DenNgay" class="form-control " autocomplete="off"
                                placeholder="dd/mm/yyyy" ngbDatepicker #DenNgay="ngbDatepicker"
                                formControlName="DenNgay" />
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-lg-6">
                        <label>Hình thức</label>
                        <select class="form-control"  name="HinhThuc"
                        formControlName="HinhThuc">
                        <option value="Bảo lãnh ngân hàng">Bảo lãnh ngân hàng</option>
                        <option value="Đặt cọc">Đặt cọc</option>
                    </select>
                    </div>
                    <div class="col-lg-6">
                        <label>Ghi chú</label>
                        <input type="text" class="form-control" autocomplete="off" placeholder="Ghi chú" name="GhiChu"
                            formControlName="GhiChu" />
                    </div>
                </div>

            
            <div class="form-group row">
                <div class="table-responsive angular-bootstrap-table">

                    <table class="table">
                        <thead>
                            <th style="width: 50px; max-width: 50px;"> STT </th>
                            <th> Mục đích sử dụng điện </th>
                            <th> Sản lượng điện trung bình ngày</th>
                            <th> Số ngày bảo đảm thực hiện hợp đồng </th>
                            <th> Giá bán điện giờ trung bình thường </th>
                            <th> Thành tiền </th>
                            <th></th>
                        </thead>

                        <tbody [formGroup]="dataTable">
                            <ng-container formArrayName="tableRows"
                                *ngFor="let group of getFormControls.controls ; let i=index">
                                <tr [formGroupName]="i">
                                    <td style="width: 50px; max-width: 50px;">
                                        {{i + 1}}
                                    </td>
                                    <td>
                                        <input type="text" class="form-control "
                                            style="padding: 0.2rem 0.5rem;" autocomplete="off" name="MucDich"
                                            formControlName="MucDich" />
                                    </td>

                                    <td>
                                        <input type="text" class="form-control "
                                            style="padding: 0.2rem 0.5rem;" autocomplete="off" name="SLTrungBinh"
                                            formControlName="SLTrungBinh"   (change)="tinhthanhtien(i,group)" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control "
                                            style="padding: 0.2rem 0.5rem;" autocomplete="off" name="SoNgayDamBao"
                                            formControlName="SoNgayDamBao" (change)="tinhthanhtien(i,group)" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control "
                                            style="padding: 0.2rem 0.5rem;" autocomplete="off" name="GiaBanDien"
                                            formControlName="GiaBanDien" (change)="tinhthanhtien(i,group)" />
                                    </td>

                                    <td>
                                        <input type="text" class="form-control "
                                            style="padding: 0.2rem 0.5rem;" autocomplete="off" name="ThanhTien"
                                            formControlName="ThanhTien" />
                                    </td>
                                    <td>

                                        <a title="Xóa" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-2"
                                            (click)="deleteRow(i,group)">
                                            <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'"
                                                cacheSVG="true" class="svg-icon svg-icon-md svg-icon-danger">
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>

                    </table>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-6">
                    <label>Giá trị tiền</label>
                    <input type="text" class="form-control" autocomplete="off" placeholder="Giá trị tiền"
                        name="GiaTriTien" formControlName="GiaTriTien" />
                </div>
                <div class="col-lg-6">
                    <label>Tiền bằng chữ</label>
                    <input type="text" class="form-control" autocomplete="off" placeholder="Tiền bằng chữ"
                        name="TienBangChu" formControlName="TienBangChu" />
                </div>
            </div>
        </form>
        </ng-container>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">Thoát</button>
        <ng-container>
            <button type="submit" class="btn btn-primary btn-elevate" (click)="save()">Lưu</button>
        </ng-container>
    </div>
</div>
