<ng-container *ngIf="isLoadingForm$ | async; else showData">
    <div class="overlay-layer bg-transparent">
        <div class="spinner spinner-lg spinner-success"><span style="padding-left:35px;">Đang tải dữ liệu, vui lòng
                chờ</span></div>
    </div>
</ng-container>
<ng-template #showData>
    <div class="modal-content">
        <div class="modal-header">
            <div class="modal-title h4" id="example-modal-sizes-title-lg">
                Dự thảo thỏa thuận
            </div>
        </div>
        <div class="overlay overlay-block cursor-default modal-body" style="min-height: 404px;">
            <ng-container>
                <form action="#" class="form form-label-right" [formGroup]="formGroup">
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <label>Chọn file dự thảo <span style="color:red">*</span></label>
                            <input placeholder="Chọn file" class="form-control" formControlName="File" type="file"
                                name="File" accept=".pdf,.doc,.docx" [class.is-invalid]="isControlInvalid('File')" (change)="upload($event)" />
                        </div>                        
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <label class="form-control">{{bienBanDN.EVNMaSoThue}} -
                                {{bienBanDN.EVNDonVi}}</label>
                        </div>
                    </div>                    
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <label>Khách hàng: {{bienBanDN.KHTen}}</label>                            
                        </div>
                    </div>                    
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <label>Tên công trình điện: {{bienBanDN.TenCongTrinh}} - {{bienBanDN.DiaDiemXayDung}}</label>                            
                        </div>
                    </div>
                </form>
            </ng-container>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">Thoát</button>
            <ng-container>
                <button type="submit" [disabled]="formGroup.invalid || (submited| async)"
                    class="btn btn-primary btn-elevate" (click)="save()">Lưu dự thảo</button>
            </ng-container>
        </div>
    </div>
</ng-template>